---
layout: default
---
{% include header.html %}

{% assign sections = site.narrative | sort:'ordering'  %}
{% for section in sections  %}
<section id='{{section.title | slugify}}' class='content-section'>
 
  <div class='container'>
    <div class='row'>
      {% if section.image %}
      <div class='col-sm-6 col-lg-5'>
         {{section.content}}
      </div>
      <div class='col-sm-6 col-lg-7'>
        {% for image in section.image %}
        <div class='img-wrapper'>
          <img src='assets/img/{{image}}'>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class='col-sm-6 col-md-8 col-md-offset-2'>
        {{section.content}}
      </div>
      {% endif %}
    </div>
  </div>
</section>
{% endfor %}
