---
layout: default
---

<section id="intro" class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 ">
        {% capture my_include %}{% include pages/intro.md %}{% endcapture %}
        {{ my_include | markdownify }}
      </div>
      <div class="col-sm-6">
        image
      </div>
    </div>
  </div>
</section>


<section id="crowdsourcing" class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 ">
        {% capture my_include %}{% include pages/crowdsourcing.md %}{% endcapture %}
        {{ my_include | markdownify }}
      </div>
      <div class="col-sm-6">
        image
      </div>
    </div>
  </div>
</section>

<section id="institutions" class="content-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        {% capture my_include %}{% include pages/institutions.md %}{% endcapture %}
        {{ my_include | markdownify }}
      </div>
      <div class="col-sm-6">
        image
      </div>
    </div>
  </div>
</section>

<section id="get-the-code" class="content-section">
  <div class="container">
    <div class="row">
      
      <div class="col-sm-6">
        {% capture my_include %}{% include pages/get-the-code.md %}{% endcapture %}
        {{ my_include | markdownify }}
      </div>
      <div class="col-sm-6">
        image
      </div>
    </div>
  </div>
</section>

