

<div class='modal-body'>
  <div class='typeahead-in-dropdown'>
    <label>which entity do you suggest</label>
    <p>This would allow to discover other related resources</p>
    
    <form>
      <input autofocus type='text' name='test' ng-model='____q' class='form-control' typeahead-editable='false' placeholder='search person, location, themes...' typeahead='item for items in typeaheadSuggest($viewValue, "entity")' typeahead-wait-ms='100' typeahead-on-select='typeaheadSelected($item, $model, $label)' typeahead-template-url='templates/partials/helpers/typeahead.html'/>
    </form>

    <div ng-if="persons.length">
      <span ng-if="persons.length" class="tags"><i>persons in the document</i>:
            <span ng-repeat="per in persons"><span data-id='{{per.id}}' removed-ng-click="startCommenting(item, per, 'person')" tooltip='{{per.props.name}} - {{per.props.description}} ({{per.props.birth_date | date:"yyyy"}} - {{per.props.death_date | date:"yyyy"}}) {{per.props.score < 0? " - signaled as a mistake":""}}' gasp-type='person' gasp-parent='{{item.type}}-{{item.id}}' class="tag person {{per.props.score < 0? 'downvoted': '' }}">{{per.props.name}}</span>{{$last? '':  ', '}}</span>
        </span>
      
    </div>
  </div>

</div>
<div class='modal-footer'>
  <div class="btn-group" role="group">
    <button  class='btn btn-primary {{persons.length? "":"disabled"}}' ng-click='ok()'>confirm</button>
    <button class='btn btn-secondary' ng-click='cancel()'>discard</button>
</div>
</div>