

<div class='modal-body'>
  <div class='typeahead-in-dropdown'>
    <h2>which {{type}} do you suggest</h2>
    <p>This would allow to discover other related resources</p>
    
    <form>
      <input autofocus type='text' name='test' typeahead-trigger-on-model-change='autotypeahead' ng-model='q' class='form-control' typeahead-editable='false' placeholder='search person, location, themes...' uib-typeahead='item for items in typeaheadSuggest($viewValue, "entity")' typeahead-wait-ms='100' typeahead-on-select='typeaheadSelected($item, $model, $label)' typeahead-template-url='templates/partials/helpers/typeahead.html'/>
    </form>

    <div class='results' ng-if="persons.length">
      <span class="tags"><i>add persons mentioned in the document</i>:
            <span ng-repeat="per in persons"><span data-id='{{per.id}}' removed-ng-click="startCommenting(item, per, 'person')" tooltip='{{per.props.name}} - {{per.props.description}} ({{per.props.birth_date | date:"yyyy"}} - {{per.props.death_date | date:"yyyy"}}) {{per.props.score < 0? " - signaled as a mistake":""}}' gasp-type='person' gasp-parent='{{item.type}}-{{item.id}}' class="tag person {{per.props.score < 0? 'downvoted': '' }}">{{per.props.name}}</span>{{$last? '':  ', '}}</span>
        </span>
      
    </div>
    <div class='results' ng-if="locations.length">
      <span class="tags"><i>add locations mentioned in the document</i>:
            <span ng-repeat="per in locations"><span tooltip='{{per.props.name}}' class="tag person {{per.props.score < 0? 'downvoted': '' }}">{{per.props.name}}, {{per.props.country}}</span>{{$last? '':  ', '}}</span>
        </span>
      
    </div>
  </div>

</div>
<div class='modal-footer'>
  <div class="btn-group btn-group-dual" role="group">
    <button  class='btn btn-primary btn-line {{persons.length || locations.length? "":"disabled"}}' ng-click='ok()'>confirm</button>
    <button class='btn btn-secondary btn-line' ng-click='cancel()'>discard</button>
  </div>
</div>
