
<div class="modal-header">
  <h3 class="modal-title">
    <a ng-click='previous()' class='action left'><i class='fa fa-angle-left'></i></a>
    <span ng-if='modalStatus!="quiet"'>{{modalStatus}}</span><span ng-if='modalStatus!="loading"'>{{offset + limit}} / {{totalItems}} <span translate>inspect.entity.related_documents</span></span>
    <a ng-click='next()' class='action right'><i class='fa fa-angle-right'></i></a>
  </h3>
  <table class='table'>
    <tr ng-repeat='relatedItem in items'>
      <td>Is <b>{{entity.props|lookup:'name':language}} {{entity.props.birth_time | datesOfAPerson : entity.props.death_time}}</b>?</td>
      <td>
        <div class='btn-group' >
          <button class='btn btn-default' ng-click='upvote()'>yes</button>
          <button class='btn btn-default'  ng-click='downvote()'>no</button>
        </div>
      </td>
    </tr>
  </div>
</div>
<div class="modal-body">
  <div ng-repeat='item in relatedItems'>
      <div  ng-include='"templates/partials/resource.html"'></div>
  </div>
</div>

