<div class='nodes'>
  <div ng-repeat='relatedItem in items'>
    <div class='node person'>
      <div class='thumbnail'>
        <div class="thumbnail-wrapper" style='background-image: url({{relatedItem.props.thumbnail}})'>    
          
        </div>
      </div>
      <div class='content'>
        <h4><a ng-href='#/e/{{relatedItem.id}}' marked="relatedItem.props|lookup:'name':language"></a></h4>
        <div class='date'>{{relatedItem.props.birth_time | datesOfAPerson : relatedItem.props.death_time}}</div>
      </div>
      
      <div class='detail'>
        <div class='viaf' ng-if='chooseVIAF'>
          <div class='question tk-proxima-nova'>Is <b>{{relatedItem.props|lookup:'name':language}}</b> in <b>VIAF</b> ?</div>
          <table class='table'>

            <tr class='viaf-item' ng-repeat='item in relatedItem.viafItems'>
              <td><a class='tag tk-proxima-nova' target='_blank' ng-href='http://viaf.org/viaf/{{item.viafid}}'>{{item.viafid}}</a></td>
              <td>
                {{item.term}} 
              </td>
              <td>
                <input type='checkbox'>
              </td>
            </tr>

          </table>
          <!-- <div class='viaf-item'>
            Other:
            <input type='text'>
          </div> -->
        </div>

        <blockquote  marked="relatedItem.props|lookup:'abstract':language">
        </blockquote>
        <blockquote>source: <a ng-href='http://viaf.org/viaf/{{relatedItem.props.links_viaf}}' target='_blank' ng-if='relatedItem.props.links_viaf'>viaf</a>

        <a ng-href='http://dbpedia.org/page/{{relatedItem.props.links_wiki}}' target='_blank' ng-if='relatedItem.props.links_wiki'>dbpedia</a>

        </blockquote>
      </div>
    </div>
  </div>
</div>
<div class="modal-header with-sidebar">
  <h3 class="modal-title">
    <a ng-click='previous()' class='action'><i class='fa fa-angle-left'></i></a>
    <span>{{offset + limit}} / {{totalItems}} documents {{language}}</span>
    <a ng-click='next()' class='action'><i class='fa fa-angle-right'></i></a>
  </h3>
</div>
<div class="modal-body with-sidebar">
  <div ng-repeat='relatedItem in relatedItems'>
      <div  ng-include='"templates/partials/resource-lite.html"'></div>
  </div>
</div>
