/*
  Patch file: above the fold;
*/
html{
  height: 100%;
  margin: 0;
  padding: 0
}


body{
  font-size: 13px;
  line-height: 24px;
  color: #1d1d1d;
  height: 100%;
  overflow: hidden;
  background-color: #e9e9e9;
  margin: 0;
  padding: 0
}

body.login-page{
  background: #f0f0f0; 
}

h1,h2,h3,h4{
  font-weight:normal;
  font-size: inherit;
  line-height: inherit;
}

header{
  height: 50px;
  position: fixed;
  left:0px;
  right:0px;
  top: 0px;
  background: #383838;
  z-index: 15;
  line-height: 50px;
  font-size:13px;
  padding: 0 50px;
}

header ul{
  display: inline-block;
  list-style-type: none;
}




header img {
  display: inline-block;
  height: 25px;
  padding: 0px 10px 0 0;
}

blockquote{
  padding: 10px 15px;
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  border: 0px solid transparent;
  background: #eee;
}

a{
  color: #FF5742;
}
a:focus, a:hover{
  color: #151515;
  text-decoration: none;
}

.navbar-header a{
  color: #f0f0f0;
  font-size: 21px;
  -webkit-transition: color .3s ease-out; /* Changed here */ 
   -moz-transition: color .3s ease-out;
     -o-transition: color .3s ease-out;
        transition: color .3s ease-out;
}

.navbar-header a:hover{
  color: white;
}

#login{
  margin: 100px auto;
  width: 300px;
  text-align: center;
}

#login .btn{
  font-size: 12px;
  border: 1px solid #3B3B3B;
}
#login h5{
  margin-bottom: 50px;
  color: black;
  font-size:17px;
}

#login p {
  color: #a9a2a2;
  font-size: 15px;
  margin-bottom: 50px;
}

#logo{
  font-size: 28px;
  line-height: 56px;
}

/*
  Flickr API experiment
*/
#flickr{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff 
}

.DEP-halftone-overlay{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAF0lEQVQIW2NkYGD4z8DAwMgAI0AMDA4AI3EBBCKrOnQAAAAASUVORK5CYII=) repeat;
}