/*
  Patch
*/
header{
  height: 70px;
  line-height: 70px;
  background: #f0f0f0;
  padding: 0 50px 0 70px;
}

.navbar-header a {
    color: black;
    font-size: 17px;
}

.view {
  top: 70px;
  background: #fff;
}

header ul.menu li a{
  line-height: 70px;
  color: #8A8A8A;
}

header ul.menu li.active a{
  color: #FF5742;
}

header ul.menu li a:hover{
  color: black
}

#search-field {
    padding-top: 23px;
}
#search-field input{
  background: transparent;
  font-size: 13px;
  color: black;
  width: 110px;

}

#milkyway {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 50px;
}

#milkyway.explore.persons{
  left:0;
}

#milkyway.graph{
  left:0;
}

.explore #see-also {
    width: auto;
    margin-left: 0;
    left: 35px;
}
header ul.dropdown-menu li .notification a {
    display: inline;
    line-height: inherit;
    padding: 0;
}
#see-also{
  right: 0;
  top: 40px;
}

#perspective-menu{
  

  background: white;
  height: auto;
  border-bottom: 1px solid #d8d8d8;
}

#perspective-menu ul{
  border-bottom: none;
}
/*
  View specific perspective menu
*/




.search #perspective-menu {
  top: 40px;
  left: 190px;
}

.search #perspective-menu > ul{
  padding-left: 20px;
}

.resource #perspective-menu > ul{
  padding-left: 70px
}

.explore #perspective-menu > ul{
  padding-left: 70px;
}


.explore #see-also{
  top: 40px;
}
.search #see-also {
  left: 190px;
  top: 40px;
}
.user #see-also,.neighbors #see-also{
  left:10px;
}

#milkyway.explore{
  top: 110px;
}
#milkyway.search  {
  top: 110px;
  left: 540px
}
#milkyway.user, #milkyway.neighbors{
  top: 110px;
}

#pop{
  z-index: 1052;
 }
/*
  Modals
*/
.modal.in .modal-dialog{
  pointer-events: none;
}
.modal-content{
  pointer-events:auto;
}
.modal.inspect-metadata .modal-dialog{
  width: 360px;
  height: 500px
}

.modal.inspect .modal-body.with-sidebar{
  padding: 0;
}

.modal.inspect .modal-body.with-sidebar .item{
  padding:0;
}

.modal.inspect .modal-body.with-sidebar .item .type, .modal.inspect .modal-body.with-sidebar .item h3{
  margin:0;
}
.modal.inspect .modal-body.with-sidebar .item .meta{
  margin: 20px 0;
}
.modal.inspect .modal-body.with-sidebar .item img{
  min-width: auto;
  max-height: none;
}
.modal.inspect .modal-body.with-sidebar .item blockquote{
    padding: 20px 0;
}
.modal.inspect .modal-body.with-sidebar .item .doi{
    padding: 10px 20px;
}

/*
  Playlist
*/
#playlist{
  width:230px;
  -webkit-transform: translateX(-230px);
    -ms-transform: translateX(-230px);
    transform: translateX(-230px);
}
#playlist-close{
  z-index: 100;
}
#playlist-actions {
  width: 100%;
}
#playlist-actions h5{
    padding: 0 20px 0px 0;
    border-bottom: 1px solid #383838;
    color: #a9a9a9;
    height: 70px;
    line-height: 70px;
    margin: 0 20px 0 20px;
}
#playlist-actions .contents{
  color:#b0b0b0;
  margin: 20px;
    border-bottom: 1px solid #383838;
    padding-bottom: 20px;

}
#playlist-shadow.neighbors{
  opacity: 0
}
#playlist-queue{
  bottom:0;
}
.playlist-item{
  width: 210px
}
#playlist-queue{
  top: 240px;
}
/*

*/
#sigma-snippets .btn-line-white .fa{
      font-size: 13px;
    line-height: 15px;

}



#sigma-snippets .content .links{
  margin-left:20px;
  text-align: left
}

#sigma-snippets .content .links a:hover{
  color: #fff;
}
/*
  MEDIA PATCH
*/
@media screen and (min-width : 768px) {
  .resource #see-also {
    width: 320px
  }
  .resource #perspective {
    right: 320px;
  }
  header ul.menu li a{
    padding: 0 10px;
  }
}

@media screen and (min-width: 992px) {
  /**/

  .resource #perspective {
    width: 680px;
  }

  .entity #perspective{
    width: 360px;
  }

  header ul.menu li a{
    padding: 0 20px;
  }
  .resource #see-also {
    left: 680px;
    margin-left: 0;
    width: auto ;
}
}

@media screen and (min-width: 1200px) {
  
  .resource #see-also {
    left: 680px;
    margin-left: 0;
    width: auto ;
}

  .resource #perspective-menu{
    
  }
  
  

  .resource .masonry-brick{
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .resource .masonry-brick{
    width: 33%;
  }
}