/**

                         .                                  
  .;      .-.        ...;...                           .;   
  ;;-.    `-'    .    .'.-.   ,:.,' .;.::..-.  `..:.   ;;-. 
 ;;  ;   ;'    .';  .; ;   ;':   ;  .;   ;   :  ;;  : ;;  ; 
.;`  `_.;:._..' .'.;   `;;'   `-:'.;'    `:::'-';;_.`.;`  ` 
            '               -._:'              .;'          

*/
html{
  height: 100%
}
body{
  font-size: 12px;
  line-height: 18px;
  color: #1d1d1d;
  height: 100%;
  overflow: hidden;
}

h1,h2,h3,h4{
  font-weight:normal;
  font-size: inherit;
  line-height: inherit;
}

header{
  height: 50px;
  position: fixed;
  left:0;
  right:0;
  top: 0;
  background: white;
  border-bottom: 1px solid #d4d4d4;
  z-index: 1;
  line-height: 50px;
  font-size:13px;
  padding: 0 50px;
}

header ul{
  float: right;
  display: inline-block;
  list-style-type: none;
}

header ul li{
  display: inline-block;
  padding: 0 0px 0 40px;
}

header img{
  display: inline-block;
  height: 25px;
  padding: 0 10px 0 20px;
}

blockquote{
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
  border: 0px solid transparent;
  background: #eee;
}

a{
  color: #B02824;
}
a:hover{
  color: #151515;
  border-bottom: 1px solid #151515;
  text-decoration: none;
}

.view{
  position: absolute;
  top: 50px;
  bottom: 0px;
  left:0;
  width: 100%;
  background: #f0f0f0;
}

.item{
  max-width: 460px;
  margin: 0 auto 100px auto;
}

.item h3 a{
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #151515;
}

.item img{
  width: 100%;
}

.item img.user-picture{
  width: 40px;
}

.item .collection{
  color: #959595;
}

.tag {
  margin: 0 8px 0 0;
  text-decoration: none;
  background:#eee;
  cursor: pointer;
  transition: background .3s ease-out;
}

.tag:hover{
  background:#ddd;
}



.tag.selected{
  background: #ccc;
}

.item .source a{
  background: cyan;
}

.item .caption{
  color: #959595;
  margin-bottom: 10px;
}
.item .caption a{
  border-bottom: 1px solid transparent;
  color: #151515;
}

.item.resource, .item.collection{
  /*border: 1px solid #eee;*/
  margin: 40px auto 0px auto;
  padding: 0 20px 10px 20px;
}

.item .collections{
  margin-bottom: 10px
}

#perspective{
  position: fixed;
  width: 36%;
  top:  50px;
  bottom: 60px;
  overflow: hidden;
  background: white;
}

#perspective-actions{
  position: fixed;
  bottom:0;
  left:0;
  height:60px;
  width: 36%;
  border-top: 1px solid #d4d4d4;
  padding: 10px 20px;
  text-align: center;
}
/*

  related items
  =============
*/

#see-also{
  position: fixed;
  width: 22%;
  left: 36%;
  bottom: 0px;
  top:  50px;
  overflow-y: hidden;
  padding: 0px 20px 0 15px;
  border-left: 1px solid #d4d4d4;

}


#see-also img{
  width: 100%;
}

.related{
  margin: 40px 0px;
}

.related h4{
  margin-top: 0;
}

.related h4 a{
  color: #151515;
  font-weight: bold;
  font-size: 13px;
  line-height: 21px;
}

.username{
  
}

#inquirer{
  position: fixed;
  left: 5%;
  width: 26%;
  z-index: 4;

  background: white;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid #e8e8e8;

  bottom: 46px;
  
  margin: 10px auto;
  padding: 20px;
  display: none;
}

#inquirer.commenting {
  display: block;
}




#milkyway {
  position: fixed;
  top: 70px;
  left: 58%;
  right: 20px;
  bottom: 20px;
  background: #e8e8e8;
}

.comment {
  margin: 10px;
  padding: 7px 6px 3px 6px;
  border-top: 1px solid #e8e8e8;
}


.CodeMirror{
  font-family: inherit;
  background: #eee;
  height: auto;
  padding: 5px 10px;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.btn {
  font-size: 12px;
}


#login{
  margin: 100px auto;
  width: 300px;
  text-align: center;
}


/*
  
  Search Field
  ~~~~~~~~~~~~

*/
#search-field{
  padding-top: 10px;
}
#search-field input{
  height: 30px;
  font-size: 12px;
  line-height: 30px;
}

#search-field button{
  height: 30px;
  font-size: 12px;
  line-height: 11px;

}

/*
  
  Search Field DRopdown menu
  ~~~~~~~~~~~~

*/
.dropdown-menu{
  max-width: 100%;
    
}
.dropdown-menu li{
  padding: 5px;
}

.dropdown-menu>li>a{
  font-size:11px;
  line-height: 20px;
  white-space: normal
}


.btn-primary {
  background: #EA3530;
  border-color: #B02824;
}

.btn-primary:hover {
  background: #9D1411;
  border-color: #760F0C;
}




/*
  
 History
  ~~~~~~~~~~~~

*/
#history{
  position:relative;  
}



/*
  
  Pop magic popover
  ~~~~~~~~~~~~

*/
#pop{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  height: 40px;
  width: 160px;
  background: #E8E8E7;
  border: 1px solid #C5C5C6;
  border-radius: 3px;
  z-index: 10;
  box-shadow: 0 5px 10px rgba(0,0,0,.175);
  opacity: .9;
  transition: opacity .22s ease-in-out;
}

#pop:hover{
  opacity: 1;  
}

#pop .btn.action{
  width: 40px;
  height: 38px;
  padding: 0;
  border: 0px transparent;
  border-radius: 0;
  
}

#pop .btn.action:hover{
  color: white;
  background: rgba(234,53,48, .7);
}

#pop .btn.action span{
  line-height: 38px;
}