/**

                         .                                  
  .;      .-.        ...;...                           .;   
  ;;-.    `-'    .    .'.-.   ,:.,' .;.::..-.  `..:.   ;;-. 
 ;;  ;   ;'    .';  .; ;   ;':   ;  .;   ;   :  ;;  : ;;  ; 
.;`  `_.;:._..' .'.;   `;;'   `-:'.;'    `:::'-';;_.`.;`  ` 
            '               -._:'              .;'          

*/
html{
  height: 100%
}
body{
  font-size: 11px;
  line-height: 21px;
  color: #1d1d1d;
  height: 100%;
}

h1,h2,h3,h4{
  font-weight:normal;
  font-size: 12px;
  line-height: inherit;
}

header{
  height: 50px;
  position: fixed;
  left:0;
  right:0;
  top: 0;
  background: white;
  border-bottom: 1px solid #eee;
  z-index: 1;
  line-height: 50px;
  padding: 0 50px;
}

header ul{
  float: right;
  display: inline-block;
  list-style-type: none;
}

header ul li{
  display: inline-block;
  padding: 0 0px 0 40px;
}

header img{
  display: inline-block;
  height: 25px;
  padding: 0 10px 0 20px;
}

blockquote{
  font-size: 1em;
  border: 0px solid transparent;
  background: #eee;
}

.view{
  margin-top: 50px;
}

.item{
  max-width: 460px;
  margin: 0 auto 100px auto;
}

.item h3 a{
  font-weight: bold;
  /*font-size: 18px;
  line-height: 30px;*/
  color: #151515;
}

.item img{
  width: 100%;
}

.item img.user-picture{
  width: 40px;
}

.tag {
  margin: 5px;
  text-decoration: underline;
}
.item .tags{
  margin: 10px 0;
}

.item .source a{
  background: cyan;
}

.item.resource{
  /*border: 1px solid #eee;*/
  margin: 20px auto 100px auto;
  padding: 0 20px 10px 20px;
}



.see-also img{
  width: 100%;
}
/* related items */
.related{
  margin: 40px 0px;
}

.username{
  
}

#inquirer{
  margin: 10px auto;
  padding: 20px;
  display: none;
}

#inquirer.commenting {
  display: block;
}

#milkyway {
  position: fixed;
  top: 70px;
  left: 56%;
  right: 20px;
  bottom: 20px;
  background: #e8e8e8;
}

.comment {
  margin: 10px 0;
  font-size: 11px;
}


.CodeMirror{
  font-family: inherit;
  background: #eee;
  height: auto;
  padding: 5px 10px;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.btn {
  font-size: 12px;
}


#login{
  margin: 100px auto;
  width: 300px;
  text-align: center;
}