/**

                         .                                  
  .;      .-.        ...;...                           .;   
  ;;-.    `-'    .    .'.-.   ,:.,' .;.::..-.  `..:.   ;;-. 
 ;;  ;   ;'    .';  .; ;   ;':   ;  .;   ;   :  ;;  : ;;  ; 
.;`  `_.;:._..' .'.;   `;;'   `-:'.;'    `:::'-';;_.`.;`  ` 
            '               -._:'              .;'          

*/
body{
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
}

h1,h2,h3,h4{
  font-weight:normal;
  font-size: 13px;
  line-height: inherit;
}

header{
  height: 50px;
  position: fixed;
  left:0;
  right:0;
  top: 0;
  background: white;
  border-bottom: 1px solid #eee;
  z-index: 1;
  line-height: 50px;
  padding: 0 50px;
}

header ul{
  float: right;
  display: inline-block;
  list-style-type: none;
}

header ul li{
  display: inline-block;
  padding: 0 0px 0 40px;
}

header img{
  display: inline-block;
  height: 25px;
  padding: 0 10px 0 20px;
}

blockquote{
  font-size: 1em;
  border: 0px solid transparent;
  background: #eee;
}

.item{
  width: 380px;
  margin: 100px auto;
}

.item img{
  width: 100%;
}

.item img.user-picture{
  width: 40px;
}

.tag {
  margin: 5px;
  text-decoration: underline;
}
.item .tags{
  margin: 10px 0;
}

.item.resource{
  /*  position: absolute;
  bottom: 17px;
  top: 50px;
  overflow-x: auto;
  margin: 0;
  padding: 20px;*/
}

.username{
  
}

#inquirer{
  margin: 10px auto;
  padding: 20px;
  display: none;
}

#inquirer.commenting {
  display: block;
}

#milkyway {
  position: fixed;
  top: 50px;
  left: 410px;
  right: 10px;
  bottom: 20px;
  background: #ddd;
}

.comment {
  margin: 10px 0;
  font-size: 12px;
}


.CodeMirror{
  font-family: inherit;
  background: #eee;
  height: auto;
  padding: 5px 10px;
}

.CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.btn {
  font-size: 13px;
}


#login{
  margin: 100px auto;
  width: 300px;
  text-align: center;
}