<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="brand-heading"><span>histograph.</span></h1>
          <p class="intro-text">
            <span>Graph-based exploration and crowd-based indexation for multimedia collections.</span>
            <br/>
            <span>Check out our <a href='{{site.demourl}}'>demo on European Integration</a>, <br/>or <a href='https://github.com/CVCEeu-dh/histograph'>collaborate with us on github</a>
            </span>
          </p>
          <a href="#exploration" class="btn btn-circle page-scroll">
          <i class="fa fa-angle-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
