<div class="issue" translate translate-values='entity.props'>inspect.entity.iswrong</div>
  
<div class='answers'>
  <div ng-if='entity.issue_wrong_removable'>
    <button class='btn btn-line-white btn-block' ng-click='downvoteIssue("wrong")'><span translate>button.remove.issue</span></button>
  </div>
  <div ng-if='!entity.issue_wrong_removable'>

    <div class='btn-group btn-group-dual'>
	  <button class='btn btn-line-white btn-primary' ng-click='raiseIssue("wrong")'><span translate>button.agree </span>({{entity.props.downvote.length}})</button>
	  <button class='btn btn-line-white obscure' ng-click='downvoteIssue("wrong")'><span translate>button.disagree </span>({{entity.props.upvote.length || 0}})</button>
    </div>
    
  </div>
</div>