<div class="gasp tk-proxima-nova {{enabled?'enabled':'disabled'}}"><div class="inner {{target.type||''}}">
  <div class="text" ng-if="target.type == 'node'" >
    <a href="{{href}}">
      <i uib-tooltip="{{type}}" class="fa fa-circle type {{type}}"></i>
      {{label|truncate:32}}
    </a>
  </div> 
  <div class="text" ng-if="target.type == 'edge'">
    <span class="weight">{{weight}}</span>
    <i class="fa fa-circle {{left.type}}"></i>&nbsp;
    <i class="fa fa-long-arrow-right"></i>&nbsp;
    <i class="fa fa-circle {{right.type}}"></i>
    <span><span uib-tooltip="left: {{left.label}}" uib-tooltip-append-to-body='true'>{{left.label|truncate:20}}</span> &#8594; 
    <span uib-tooltip="{{right.label}}" uib-tooltip-append-to-body='true'>{{right.label|truncate:20}}
    </span>
  </div> 
  <div class="action-group">
    <a class="action slide enabled"  title="filter" uib-tooltip='{{filterby}}' uib-tooltip-placement='bottom'  uib-tooltip-append-to-body='true' ng-click="addTargetToFilter()">
      <span class="fa fa-filter"></span></a>

<!-- 
      
    <a class="action slide {{target.type == 'node'? 'enabled': 'disabled'}}"  href="{{href}}" title="visit" data-action="link" uib-tooltip="link {{linkto}}" uib-tooltip-append-to-body='true'>
      <span class="fa fa-link"></span></a> -->
    
    <a class="action slide enabled"  title="show connected nodes" uib-tooltip='show connected nodes' uib-tooltip-placement='bottom'  uib-tooltip-append-to-body='true' ng-click="egonetwork()">
      <span class="fa fa-eye"></span></a>

    <a class="action queue" ng-click="addTargetToQueue()" uib-tooltip-placement='bottom'  uib-tooltip="add to your bookmark list" data-action="queue">
      <span class="fa fa-play-circle-o"></span></a>
            
  </div>
</div></div>