
   <div ng-if='question=="remove-relationship"' class='question'>
      <p class='text' translate="popit.fix.remove.relationship" translate-values='{name: "{{entity.props.name}}"}'></p>
      <div class='answers'>
        <div class='btn-group btn-group-dual'>
        <button class='btn btn-line-white btn-primary' ng-click='remove()' translate>button.confirm</button>
        <button class='btn btn-line-white obscure' ng-click='cancelQuestion($event)' translate>button.back</button>
        </div>
      </div>
    </div>

    <div ng-if='question=="unknown"'>
      <p class='text'>Is this entity in this collection?</p>
      <div class='answers'>
        <div >
          <form>
            <input autofocus type='text' name='test' typeahead-trigger-on-model-change='entity.name' ng-model='q' class='form-control' typeahead-editable='false' placeholder='search person, location, themes...' uib-typeahead='item for items in typeaheadSuggest($viewValue, entity.type)' typeahead-wait-ms='100' typeahead-on-select='typeaheadSelected($item, $model, $label, "unknown-confirm")' typeahead-template-url='templates/partials/helpers/typeahead.html'/>
          </form>
        </div>
      </div>
      <div class='answers'>
        <button class='btn btn-line-white obscure btn-block' ng-click='askQuestion("new")'>Nope, it is a brand new</button>
        <button class='btn btn-line-white obscure btn-block' ng-click='cancelQuestion()'>back</button>
      </div>
    </div>
      <div ng-if='question=="unknown-confirm"'>
          <p class='text'>confirm <strong class='tk-proxima-nova' style='color: white'>{{entity.alias.props|lookup:'name':language}}</strong>({{entity.alias.type}})?</p>
          <div class='answers'>
            <div class='btn-group btn-group-dual'>
              <button class='btn btn-line-white btn-primary' ng-click='merge()'>yes!</button>
              <button class='btn btn-line-white obscure' ng-click='askQuestion("contribute", $event)'>back</button>
            </div>
          </div>
        </div>


    <div ng-if='question=="new"' class='question'>

       <p class='text'>Does these viaf ids applies to the person or the institution selected</p>
      <div class='answers'>
        <div class=''>
          
          
          <button class='btn btn-line-white obscure btn-block' ng-click='cancelQuestion($event)'>back</button>
        </div>
      </div>
    </div>

    <div ng-if='question=="downvote"' class='question'>
      <div class='answers'>
        <div class=''>
          <button class='btn btn-line-white btn-block' ng-if='parent' ng-click='downvote($event)' translate translate-values='{type: "{{entity.type}}"}'>popit.fix.not.mentioned</button>
          <button class='btn btn-line-white btn-block' ng-click='askQuestion("wrongtype", $event)' translate='popit.fix.wrong.type' translate-values='{type: "{{entity.type}}"}'></button>
          <button class='btn btn-line-white btn-block' ng-click='askQuestion("contribute", $event)' translate>popit.fix.typo</button>
           <button ng-if='parent' class='btn btn-line-white btn-block' ng-click='askQuestion("wrong", $event)' translate>popit.fix.untag</button>
           <button ng-if='!parent' class='btn btn-line-white btn-block' ng-click='askQuestion("wrong", $event)' translate>popit.fix.remove</button>
          
          <button class='btn btn-line-white obscure btn-block' ng-click='cancelQuestion($event)' translate>button.back</button>
        </div>
      </div>
    </div>

      <div ng-if='question=="wrong"'>
        <p class='text' translate='popit.fix.wrong.entity' translate-values='{type: "{{entity.type}}"}'></p>
        <div class='answers'>
          <div class='btn-group btn-group-dual'>
            <button class='btn btn-line-white btn-primary' ng-click='raiseIssue("wrong")' translate>button.confirm</button>
            <button class='btn btn-line-white obscure' ng-click='askQuestion("downvote")' translate>button.back</button>
          </div>
        </div>
      </div>

      <div ng-if='question=="contribute"'>{{entity.name}}
        <p class='text' translate='popit.fix.typo.description' translate-values='{name: "{{entity.props.name}}"}'></p>
        <div class='answers'>
          <div >
            <form>
              <input autofocus type='text' name='test' typeahead-trigger-on-model-change='entity.name' ng-model='q' class='form-control' typeahead-editable='false' placeholder="search person" uib-typeahead='item for items in typeaheadSuggest($viewValue, entity.type)' typeahead-wait-ms='100' typeahead-on-select='typeaheadSelected($item, $model, $label)' typeahead-template-url='templates/partials/helpers/typeahead.html'/>
            </form>
          </div>
        </div>
        <div class='answers'>
          <button class='btn btn-line-white obscure btn-block' ng-click='askQuestion("new")' translate='popit.fix.brandnew' translate-values='{type: "{{entity.type}}"}'></button>
          <button class='btn btn-line-white obscure btn-block' ng-click='askQuestion("downvote")'>back</button>
        </div>
      </div>

        <div ng-if='question=="contribute-confirm"'>
          <p class='text' translate='popit.fix.suggest.confirm' translate-values='{name: "{{entity.props.name}}",_name: "{{entity.alias.props.name}}"}'></p>
          <div class='answers'>
            <div class='btn-group btn-group-dual'>
              <button class='btn btn-line-white btn-primary' ng-click='merge()'>yes!</button>
              <button class='btn btn-line-white obscure' ng-click='askQuestion("contribute", $event)'>back</button>
            </div>
          </div>
        </div>

      <div ng-if='question=="wrongtype"' class='question'>
        <p class='text' translate>popit.fix.spotcorrecttype</p>
        <div class='answers'>
          <div class="btn-group btn-block" uib-dropdown>
            <button id="btn-append-to-body" type="button" class="btn btn-primary btn-block btn-line-white btn-primary" uib-dropdown-toggle>
              <span translate>popit.fix.spotcorrecttype.label</span> <span class="caret"></span>
            </button>
            <ul class="uib-dropdown-menu tk-proxima-nova" style='z-index:1050' role="menu" aria-labelledby="btn-append-to-body">
              <li role="menuitem" ng-if='entity.type != "person"'><a ng-click='raiseIssueSelected("type","person")' translate>popit.fix.spotcorrecttype.type.person</a></li>
              <li role="menuitem" ng-if='entity.type != "location"'><a ng-click='raiseIssueSelected("type", "location")' translate>popit.fix.spotcorrecttype.type.location</a></li>
              <li role="menuitem"><a ng-click='raiseIssueSelected("type", "organization")' translate>popit.fix.spotcorrecttype.type.organization</a></li>
              <li role="menuitem"><a ng-click='raiseIssueSelected("type", "theme")'translate>popit.fix.spotcorrecttype.type.theme</a></li>

              <li role="menuitem"><a ng-click='raiseIssueSelected("irrelevant")' translate>popit.fix.spotcorrecttype.type.irrelevant</a></li>
            </ul>
          </div>
        </div>
        <div class='answers'>
          
          <button class='btn btn-line-white btn-block' ng-click='askQuestion("downvote", $event)'>back</button>
          
        </div>
      </div>

        <div ng-if='question=="irrelevant-confirm"'>
          <p class='text' translate>popit.fix.spotcorrecttype.type.irrelevant.confirm</p>
          <div class='answers'>
            <div class='btn-group btn-group-dual'>
              <button class='btn btn-line-white btn-primary' ng-click='raiseIssue("irrelevant")' translate>button.confirm</button>
              <button class='btn btn-line-white obscure' ng-click='askQuestion("wrongtype")' translate>button.back</button>
            </div>
          </div>
        </div>

        <div ng-if='question=="wrongtype-confirm"'>
          <p class='text' translate='popit.fix.spotcorrecttype.type.confirm' translate-values='{type: "{{entity._type}}", _type:"{{entity.type}}"}'></p>
          <div class='answers'>
            <div class='btn-group btn-group-dual'>
              <button class='btn btn-line-white btn-primary' ng-click='raiseIssue("type", entity._type)'>yes!</button>
              <button class='btn btn-line-white obscure' ng-click='askQuestion("wrongtype")'>back</button>
            </div>
          </div>
        </div>

      <div ng-if='question=="feedback"' class='question'>
        <p class='text' translate>popit.fix.feedback</p>
        <div class='answers'>
          <button class='btn btn-line-white btn-primary btn-block' ng-click='close()' translate>button.close</button>
        </div>
      </div>