<div class='snip {{status}} {{center.type}}'  ng-if='center' ng-click='setTarget(center)' style='background-image: url({{center.props.thumbnail}})' uib-tooltip="{{center.props|lookup:'name':language}}" tooltip-placement='right'>
  <!-- <h2>{{center.props|lookup:'name':language}}</h2> -->
</div>
<div class="inner {{center?'wait':''}} {{status}}">
  
  <div class='nodes'>
    <div ng-if='items.length > 1' class="line">
        <div class='weight sans-serif'>{{totalItems || weight}}</div>
    </div>
    
    <div ng-repeat='relatedItem in items'>
      <!-- person node -->
      <div ng-if='relatedItem.type!="resource"' class='node {{relatedItem.type}}' >
        <div class='thumbnail'>
          <div class="thumbnail-wrapper" style='background-image: url({{relatedItem.props.thumbnail}})'>    
            
          </div>
        </div>
        <div class='content'>
          <h4><a ng-href='#/e/{{relatedItem.id}}/g' marked="relatedItem.props|lookup:'name':language"></a></h4>
          <div class='date'>{{relatedItem.type}} - 

            <span ng-if='relatedItem.type=="person"'>{{relatedItem.props.birth_time | datesOfAPerson : relatedItem.props.death_time}}</span>
            <span ng-if='relatedItem.type=="location"'>{{relatedItem.props.country}} {{relatedItem.props.lat}} - {{relatedItem.props.lng}}</span>
          </div>
          <div ng-if="relatedItem.props.links_viaf">VIAF: {{relatedItem.props.links_viaf}}</div>
          <div ng-if="relatedItem.props.links_wiki" class='links'><a href='http://dbpedia.org/resource/{{relatedItem.props.links_wiki}}' target='_blank'>dbpedia: {{relatedItem.props.links_wiki}}</a></div>
        </div>
        <div class="actions">
          
          <!-- <a class='action'>
            <span class="fa fa-target"></span></a>
          </a> -->
          <a class="action" title="filter" uib-tooltip='{{"tooltip.resource.add.to.myselection" |translate}}' uib-tooltip-placement="top" uib-tooltip-append-to-body="true" ng-click="queue(relatedItem)">
            <span class="fa fa-thumb-tack"></span></a>
        </div>
        <div class='btn-group btn-group dual' style='margin: 10px 0'>
          <a class='btn btn-default btn-line-white' ng-href='/#/e/{{relatedItem.id}}' translate>button.more</a>
          <a class='btn btn-default btn-line-white' ng-href='/#/e/{{relatedItem.id}}/g' translate>button.egonetwork</a>
          <!-- <button class='btn btn-default btn-line-white' ng-click="queue(relatedItem)"> <span class="fa fa-thumb-tack" title='{{"tooltip.resource.add.to.myselection" |translate}}'></span></button> -->
          <button class='btn btn-default btn-line-white' title='{{"tooltip.sigma.center" |translate}}' data-id="{{relatedItem.id}}"> <span class="fa fa-dot-circle-o"></span></button>
        </div>
        <div class='clear'></div>
      </div>

      <!-- resource node -->
      <div ng-if='relatedItem.type=="resource"' data-id="{{relatedItem.id}}" class='node resource'>
        <div class='thumbnail'>
          <div class="thumbnail-wrapper" ng-if='relatedItem.props.mimetype=="image"' style='background-image: url(media/{{relatedItem.props.url}})'>    
            
          </div>
          <div class="thumbnail-wrapper" ng-if='relatedItem.props.mimetype!="image"'>   </div>
        </div>
        <div class='content'>
          <h4 marked="relatedItem.props|lookup:'title':language"></h4>
          <div class='date'>{{relatedItem.props | guessInterval}}</div>

        </div>
        <div class='btn-group btn-group dual'>
          <a class='btn btn-default btn-line-white' ng-href='/#/r/{{relatedItem.id}}'>more</a>
           <button class='btn btn-default btn-line-white' ng-click="queue(relatedItem)"> <span class="fa fa-bookmark-o"></span></button>
           <button class='btn btn-default btn-line-white' data-id='{{center.id}}'> <span class="fa fa-dot-circle-o"></span></button>
        </div>
        
        <div class='clear'></div>
      </div>
    </div>
  </div>
  <!-- use detail only if a single node has been selected -->
  <div class='detail' ng-if='items.length == 1'>
    <div ng-repeat='relatedItem in items'>
      <div ng-if='relatedItem.type=="person"'>
        <blockquote  marked="relatedItem.props|lookup:'abstract':language">
        </blockquote>
      </div>
      <div ng-if='relatedItem.type=="resource"'>
        <div class="meta">
          <span ng-if="relatedItem.persons.length" class="tags"><i>persons in the document</i>:
            <span ng-repeat="per in relatedItem.persons"><span data-id='{{per.id}}' removed-ng-click="startCommenting(item, per, 'person')" tooltip='{{per.props.name}} - {{per.props.description}} ({{per.props.birth_date | date:"yyyy"}} - {{per.props.death_date | date:"yyyy"}}) {{per.props.score < 0? " - signaled as a mistake":""}}' gasp-type='person' gasp-parent='{{relatedItem.type}}-{{relatedItem.id}}' class="tag person {{per.props.score < 0? 'downvoted': '' }}">{{per.props.name}}{{$last? '':  ', '}}</span></span>
          </span>
          <span ng-if="relatedItem.social_groups.length" class="tags"><i>  —  groups</i>:
            <span ng-repeat="per in relatedItem.social_groups"><span data-id='{{per.id}}' removed-ng-click="startCommenting(item, per, 'person')" tooltip='{{per.props.name}} {{per.props.score < 0? " - signaled as a mistake":""}}' gasp-type='person' gasp-parent='{{relatedItem.type}}-{{relatedItem.id}}' class="tag person {{per.props.score < 0? 'downvoted': '' }}">{{per.props.name}}{{$last? '':  ', '}}</span></span>
          </span>
          <span ng-if="relatedItem.organizations.length" class="tags"><i>  —  organizations</i>:
            <span ng-repeat="per in relatedItem.organizations"><span data-id='{{per.id}}' removed-ng-click="startCommenting(item, per, 'person')" tooltip='{{per.props.name}} {{per.props.score < 0? " - signaled as a mistake":""}}' gasp-type='person' gasp-parent='{{relatedItem.type}}-{{relatedItem.id}}' class="tag person {{per.props.score < 0? 'downvoted': '' }}">{{per.props.name}}{{$last? '':  ', '}}</span></span>
          </span>
        </div>
        <blockquote ng-if='relatedItem.annotations && relatedItem.annotations.length' context='relatedItem' marked="relatedItem.annotations|annotate:'caption':language"></blockquote>
        <blockquote ng-if='!relatedItem.annotations'marked="relatedItem.props|lookup:'caption':language"></blockquote>
        <div ng-if='relatedItem.props.mimetype=="image"'>
          <img  ng-src="media/{{relatedItem.props.url}}">
        </div>
        <div class="doi">
          <span marked="relatedItem.props|lookup:'ipr':language"></span>
        </div>

      </div>
    </div>
  </div>
  <!-- edges is full of sharedItems  -->
  <div ng-if="sharedItems.length" class='edges' >
    <div ng-repeat='relatedItem in sharedItems'>
      <div ng-if='relatedItem.type=="resource"' ng-include='"templates/partials/resource-lite.html"'></div>
      <div ng-if='relatedItem.type!="resource"' ng-include='"templates/partials/entity-lite.html"'></div>
    </div>

    <!-- load more -->
    <div class='more' ng-if='totalItems && offset + limit < totalItems'>
      <button ng-click='more()' class='btn-block btn btn-default more'>{{status=='loading'?'loading...':'load more items'}}</button>
    </div>
  </div>
</div>