<!-- typeahead template for FILTERING purpose; used in contribute modal -->
<div style='cursor:pointer' title='click to select'  ng-class='match.model.props.thumbnail?"with-thumbnail":""'>
  <a ng-if='match.model.type != "default"' >
    <div class='thumbnail' ng-if='match.model.props.thumbnail' style='background-image:url({{match.model.props.thumbnail}})'></div>
    
    <h4 marked="match.model.props|lookup:'name':'en'"></h4>
    <p>
      <span ng-if='match.model.type=="person"'>{{match.model.props|datesOfSomeone}}</span>
      <span ng-if='match.model.type=="location"'>{{match.model.props.country}}</span>
      — {{match.model.type}} ({{match.model.props.df}} documents)
    </p>
  </a>
</div>