<div class="actions">
  <div class="btn-group-vertical">
    <button class="btn btn-link" ng-click="upvote(relatedItem)" tooltip-append-to-body="true" tooltip="vote up {{relatedItem.type}}"><i class="fa fa-angle-up"></i></button>
    <div>{{relatedItem.props.score || 0}}</div>
    <button class="btn btn-link" ng-click="downvote(relatedItem)" tooltip-append-to-body="true" tooltip="vote down {{relatedItem.type}}"><i class="fa fa-angle-down"></i></button>
  </div>
</div>
<div class="inner">
  <div ng-if="relatedItem.written_by.picture" class="profile-pic">
    <div class="profile-pic-wrapper">
      <img ng-src="{{relatedItem.written_by.picture}}">
    </div>
  </div>
  {{relatedItem.written_by.username}} — {{relatedItem.props.creation_date | date : 'longDate'}}
  
  <blockquote ng-bind-html="relatedItem.props.content | marked"></blockquote>
  score {{relatedItem.props.score || 0}} ({{relatedItem.props.celebrity || 0}}) 
</div>
