<div class='content'>
  <div ng-if='task.type == "resourcelackingdate"'>
    <div class="question">
      Do you recognize a valid <strong>date</strong> for <a class='tag' ng-click='challengeAccepted()'>{{task.resource.props|lookup:"name":language}}</a>?
    </div>
    
  </div>
  <div ng-if='task.type == "unknown_people"'>
    <div class="question">
      <span translate>crowd.whois</span> <a class='tag person' ng-click='challengeAccepted()'>{{task.person.props|lookup:"name":language}}</a>?
      <p translate>crowd.whois.description</p>
    </div>
    <div class='context {{isChallengeAccepted? "disabled": "disabled"}}'>
      Apparently he/she was found in:
      <div class="related">
        <div class='type'>{{task.resource.props.type}}</div>
      <h4><a ng-href='/#/r/{{task.resource.id}}' marked='task.resource.props|lookup:"title":language'></a></h4>
      <blockquote marked='task.resource.props|lookup:"caption":language'></blockquote>
      </div>
    </div>
  </div>
</div>
<div class="actions">
<a class="discard action" title="close" ng-click="pause()">
          <span class="fa fa-times-circle"></span></a>
</div>
<div style='margin:10px 0' class='btn-group btn-group-dual'>
    <button  class='btn btn-line ' ng-click='challengeAccepted()' translate>button.crowd.canfixthis</button>
    <button class='btn btn-line ' ng-click='nextChallenge()' translate>button.next</button>
</div>

<button class='btn btn-line btn-straight' ng-click='pause()' translate>button.crowd.askmelater</button>