<div id='elastic-toggler'>
  <div ng-class='{"active": opened}' class='btn btn-line' ng-click='toggleOpened()'><span translate='button.toggle.filters'></span><span>{{status=='loading'?'...': ''}}</span>
  <span class='number'>{{getCountFilters()}}</span>
  </div>
</div>
<div  class='inner '>
  <!-- filters go here -->
  <div class='active-filters sans-serif'>
    <div >
      <span ng-if='filters.type'>
        <span ng-repeat='filter in filters.type'>
          <span class="filter ">type:<b>{{filter}}</b><span ng-click='removeFilter("type",filter)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>{{!$last? ' OR ': ''}}
        </span>
      </span>
      <span ng-if="filters.from">
        <span ng-repeat='filter in filters.from'>
          <span class="filter ">from: <b>{{filter}}</b><span ng-click='removeFilter("from",filter)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>
        </span>
      </span>
          
      <span ng-if="filters.to">
        <span ng-repeat='filter in filters.to'>
          <span class="filter">to: <b>{{filter}}</b><span ng-click='removeFilter("to",filter)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>
        </span>
      </span>
      <span ng-if="filters.bounds">
        <span ng-repeat='filter in filters.bounds'>
          <span class="filter">location in: <b>geo bounds</b> <a ng-href='/#/geo?{{qs}}'>(edit)</a> <span ng-click='removeFilter("bounds",filter)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>
        </span>
      </span>
    </div>
    <div class='filter-section' ng-if='filterItems.with && filterItems.with.length'>
      <!-- filters -->
      <span ng-repeat='item in filterItems.with'>
        
          <span class="filter {{item.type}}">with: <b data-id='{{item.id}}' gasp-type='{{item.type}}'>{{item.props|lookup:'name':language:24}}</b><span tooltip-append-to-body="true" tooltip='remove {{item.type}} {{item.props|lookup:"name":language:24}} from filters' ng-click='removeFilter("with",item.id)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>
        
        <!-- {{!$last? ' OR ': ''}} -->
      </span>
    </div>
    <div class='filter-section' ng-if='filterItems.without && filterItems.without.length'>
      <!-- filters -->
      <span ng-repeat='item in filterItems.without'>
        <span class="filter {{item.type}}">without: <b data-id='{{item.id}}' gasp-type='{{item.type}}'>{{item.props|lookup:'name':language:24}}</b><span tooltip-append-to-body="true" tooltip='remove {{item.type}} {{item.props|lookup:"name":language:24}} from filters' ng-click='removeFilter("without",item.id)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>
        <!-- {{!$last? ' OR ': ''}} -->
      </span>
    </div>
  </div>
  <ul class="nav nav-tabs sans-serif" role="tablist">
    <!-- resource properties facets -->
    <li ng-repeat='(key,values) in facets' role="presentation" ng-class='{"active": dimension == key}'><a ng-click='setDimension(key)' aria-controls="home" role="tab" data-toggle="tab" translate='elastic.type.{{key}}'></a></li>
    
    <li ng-repeat='dim in availableDimensions' role="presentation" ng-class='{"active": dimension == dim}'><a ng-click='setDimension(dim)' aria-controls="home" role="tab" data-toggle="tab" translate='elastic.type.{{dim}}'></a></li>
  </ul>
  <ul ng-if='dimension != "type"'>
    <li ng-repeat='value in values'  ng-include='"templates/partials/helpers/elastic-facet.html"'></li>
  </ul>
  <ul ng-if='dimension == "type"'>
    <li ng-repeat='group in values'>
      <div class='facet' style:'float:none'>
        <div class='number sans-serif'>{{group.count_items}}</div>
        <div class='name'>
          <span  ng-click='toggleGroup(group)'>
          {{group.group}}
          </span>
          <!-- <a ng-click='excludeGroup(group)'>(exclude)</a> -->
        </div>
        <div style='position:relative'>
    <div style='position:absolute;height:2px;width:60px;right:0px;background-color: #f0f0f0;'>
      <div style='position:absolute; height:2px;left:{{100 - 100*value.w/totalItems}}%;width:{{100*value.w/totalItems}}%;background-color: #151515'></div>
    </div>
  </div>
      </div>
    </li>
  </ul>
  
</div>