 <div  class='{{currentCtrl}}' ng-cloak>
    <div ng-include src="'templates/partials/resource-toolbar.html'"></div>
    
    <div class="empty-list" ng-if="relatedItems.length == 0">
      There are no related <i>entities</i>.
    </div>
    <div class="{{loading? 'animated fadeOut': 'animated fadeIn'}}" style="-webkit-animation-delay: {{$index * 100}}ms;
      animation-delay: {{$index * 100}}ms"  ng-repeat='relatedItem in relatedItems' ng-include='"templates/partials/entity-lite.html"'></div>
  </div>