 <span
    data-id='{{tag.id}}'
    gasp-tip='{{tag.props.name}} - {{tag.props|lookup:"description":32}} ({{tag.props.birth_date | date:"yyyy"}} - {{tag.props.death_date | date:"yyyy"}}) {{tag.props.score < 0? " - signaled as a mistake":""}}'
    gasp-removable="{{user.username == tag.rel.properties.created_by && tag.rel.properties.upvote.length == 1}}"
    gasp-upvotes="{{tag.rel.properties.upvote}}"
    gasp-downvotes="{{tag.rel.properties.downvote}}"
    gasp-creator="{{tag.rel.properties.created_by||''}}"
    gasp-type='{{tag.type}}'
    gasp-parent='{{item.type}}-{{item.id}}'
    class="tag {{tag.type}} {{tag.props.starred?'starred':''}} {{tag.props.issues.length?'with-issues': ''}} {{tag.rel.properties.downvote.length > 1? 'deprecated': '' }} {{tag.rel.properties.downvote.length > 0? 'downvoted': '' }} {{user.username == tag.rel.properties.created_by? 'yours': ''}}"
    ng-class='{lang: tag.rel.properties.languages.length > 1 && tag.rel.properties.languages.length == item.props.languages.length, confirmed: tag.rel.properties.upvote.length > 0}'>{{tag.props.name}}<i ng-if='tag.rel.properties.upvote.length > 0' class='fa fa-check-circle-o'></i><i ng-if='tag.props.issues.length' class='fa fa-exclamation-circle'></i></span><!-- {{$last? '':  ', '}} -->