<div class="related inquiry">
    <div class="type">inquiry</div>
    <form>
      <label>title</label>
      <div ng-model='inquiry.name' ui-codemirror='{lineNumbers: false, lineWrapping : true, mode: "xml"}'></div>
      <label>content</label>
      <div ng-model='inquiry.description' ui-codemirror='{lineNumbers: false, lineWrapping : true, mode: "xml"}'></div>
      <div style='text-align:center; margin-top: 10px'>
        <div class='btn-group' role='group' aria-label='...'>
          <button class='btn btn-primary' ng-click='createInquiry()'>
           create inquiry
          </button>
        </div>  
      </div>  
    </form>
  </div>