<!-- <div ng-include src="'templates/partials/resource-toolbar.html'"></div> -->
  <div class='fixed-toolbar' ng-include src="'templates/partials/resource-toolbar.html'"></div>
  
  <!-- <div class="toolbar tk-proxima-nova">
    <h2><b>{{relatedEntities.length}}</b> entities and <b>{{relatedItems.length}}</b> documents</h2>
  </div> -->
  <!-- <div class="tags" ng-if="relatedEntities.length > 0">Entities:  
    <span ng-repeat="entity in relatedEntities"><span class="entity tag" data-id='{{entity.id}}' tooltip='{{entity.label}}' gasp-type='{{entity.type}}' gasp-parent='{{item.type}}-{{item.id}}' >
      {{entity.label}}</span>{{$last?'':', '}}</span>
  </div> -->
        
  <div class="empty-list" ng-if="relatedItems.length == 0">
    Your path did not match any <i>documents</i>.
  </div>

  <div ng-repeat='relatedItem in relatedItems' ng-include='"templates/partials/resource-lite.html"'></div>