<div ng-if="item" class="resource item">
        <div class='counters'>
          <a ng-href='#/r/{{item.id}}/inquiries'><label>{{item.inquiries}}</label> inquiries </a><!-- <br/>
          <a ng-href='#/r/{{item.id}}/inquiries'>comments <label>{{item.comments}}</label></a> -->
          
        </div>
        <h3 class="" data-id='{{item.id}}'><a ng-href="#/r/{{item.id}}" ng-bind-html="item.props | title:language"></a></h3>
        <div class="collections">
          <div class="collection" ng-repeat="collection in item.collections"><a ng-href="#/c/{{collection.id}}">{{collection.name|humanize}}</a></div>
        </div>
        <span ng-click="startCommenting(item, 'date')">{{item.props|guessInterval}}</span>
        
        <span ng-repeat="location in item.places">
          <a class="tag location" ng-click="toggleMenu($event, item, location, 'place')">{{location.name}}</a><!-- 
          <a ng-if="location.geocode_id" ng-click="toggleInquirer(location)" class="tag location" >{{location.geocode_formatted_address}}</a>
          <a ng-if="location.geonames_id" class="tag location" >{{location.geonames_toponymName}}, {{location.geonames_countryName}}</a>
           --><span ng-if="!$last">-</span>
        </span>
          
        
        <span ng-if="item.persons.length" class="tags"> — <i>in the document</i>:
          <span ng-repeat="per in item.persons" data-id='{{per.id}}' removed-ng-click="startCommenting(item, per, 'person')" tooltip='{{per.name}} - {{per.description}} ({{per.birth_date | date:"yyyy"}} - {{per.death_date | date:"yyyy"}})' ng-click="toggleMenu($event, item, per, 'person')" class='tag person'>{{per.name}}</span>
        </span>
        <span ng-if="item.props.languages.length">  —  <i>available in</i>:
          <span ng-repeat="lang in item.props.languages" ng-click='setLanguage(lang)'>{{lang}} </span>
        </span>
        
        <div class="actions">
          <div class="btn-group">
            <a ng-if="item.inquiries > 0" class="btn btn-default" tooltip-append-to-body="true" tooltip="view inquiries" ng-href="#/r/{{item.id}}/inquiries">
              <i class="fa fa-comment-o"></i>
            </a>
            <a ng-if="item.inquiries == 0" class="btn btn-default" tooltip-append-to-body="true" tooltip="create a new inquiry" ng-href="#/r/{{item.id}}/new/inquiry">
              <i class="fa fa-comment-o"></i>
            </a>
            <button class="btn btn-default" tooltip-append-to-body="true" tooltip="add to playlist" ng-click="queue(item.id, true)">
              <i class="fa fa-play-circle-o"></i>
            </button>
          </div>
        </div>
        
        <!-- <a data-id='{{item.id}}'> view on graph</a> or <a ng-click='queue(item.id, true)'> add to playlist</a> -->
        <blockquote ng-if="currentAnnotation" class="caption" annotator context="item" marked="currentAnnotation.annotated.source" ></blockquote>
        <blockquote ng-if="!currentAnnotation" class="caption" annotator ng-bind-html="item.props | caption : language">
        </blockquote>

        <!-- Single button -->
        <div ng-if='item.props.mimetype=="image"'>
          <div ng-if="versions.length > 1" class="btn-group" dropdown is-open="status.isopen" tooltip="view a different version">
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              {{currentVersion.service || "accepted"}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="version in item.versions"><a ng-click="switchVersion(version)">{{version.service || "first version"}}</a>

              <li class="divider"></li>

              <li><a ng-click="switchVersion(mergedVersion)">merged version</a></li>
            </ul>
          </div>
          <div>
            <img  ng-src="media/{{item.props.url}}" annotorious w="item.props.width" h="item.props.height" version="currentVersion">
          </div>
        </div>
        
        <div class="full-text" ng-if='item.props.mimetype!="image"' lazytext url='item.props|url:language'></div>
        
        <blockquote ng-if="item.props.stakeholders||item.props.caption">
         {{item.props.stakeholders||item.props.caption}}
        </blockquote>
        
        <div class="doi">{{item.props.doi}}</div>
        
        <div class="discussion" ng-if="item.comments.length > 0">
          <div class="comment" ng-repeat="com in item.comments">
            <span class="username">
              <a ng-href='#/u/{{com.user.username}}'>{{com.user.username}}</a>
            </span>
            <span class="date">{{com.props.creation_date | date : 'longDate'}}</span> — {{com.props.content}}
            <span  ng-repeat="tag in com.props.tags" class='tag' data-id='{{tag|idify}}'>{{tag}}</span>
          </div>
            
        </div>
        
      </div>