<div class="related">
  <div class="type">document</div>
  <h4>
    <a href='#/r/{{relatedItem.id}}' ng-bind-html='relatedItem.props | title : language'></a>
  </h4>

  <div class='actions'>
    <button class='btn btn-default action' tooltip='add to playlist' tooltip-append-to-body="true" ng-click='queue(relatedItem.id, true)'>
      <i class='fa fa-play-circle-o'></i>
    </button>
  </div>
                
  <div style="margin-bottom: 10px">
    <span gasp-type="date" class="empty" gasp-parent="{{item.type}}-{{item.id}}" ng-if="!relatedItem.props.start_time">no date found</span>
    <span class='date' ng-if="relatedItem.props.start_time"> {{relatedItem.props|guessInterval}}</span>
    <span ng-if='relatedItem.persons.length' class='tags'> — <i>persons in the document</i>:
      <span ng-repeat='per in relatedItem.persons' data-id='{{per.id}}' gasp-type='person' gasp-parent='{{relatedItem.type}}-{{relatedItem.id}}' tooltip='{{per.name}} - {{per.description}} ({{per.birth_date | date:"yyyy"}} - {{per.death_date | date:"yyyy"}})' class='tag person'> {{per.name}}</span>
    </span>
  </div>
           
  <img ng-if='relatedItem.props.mimetype=="image"' ng-src="{{relatedItem.props | url : language}}">
  <blockquote> {{relatedItem.props | abstract : language}}</blockquote>
</div>