<div class="related">
  <div class="type"><i class="fa fa-circle type resource"></i> {{relatedItem.props.ecmd|ecmd}} | {{$index + 1}} out of {{totalItems}}</div>
  <h4>
    <a href='#/r/{{relatedItem.id}}' ng-if='!relatedItem.annotations || !relatedItem.annotations.length' marked="relatedItem.props|lookup:'title':language"></a>
    <a href='#/r/{{relatedItem.id}}' ng-if='relatedItem.annotations && relatedItem.annotations.length' context='relatedItem' marked="relatedItem.annotations|annotate:'title':language"></a>
  
  </h4>

  <div class='actions'>
    <div class="btn-group">
      <!-- <button class='btn btn-default action' uib-tooltip="view in graph (if it's visible)" data-id='{{relatedItem.id}}'>
        <i class='fa fa-eye'></i>
      </button> -->
      <button class='btn btn-default action' uib-tooltip='add to bookmark list' tooltip-append-to-body="true" ng-click='queue(relatedItem.id, true)'>
        <i class='fa fa-play-circle-o'></i>
      </button>
    </div>
  </div>
                
  <div class="meta">
    <span gasp-type="date" class="empty" gasp-parent="{{item.type}}-{{item.id}}" ng-if="!relatedItem.props.start_time">no date found</span>
    <span class='date' ng-if="relatedItem.props.start_time"> {{relatedItem.props|guessInterval}}</span>
    <span ng-if='relatedItem.persons.length' class='tags'> — <i>persons in the document</i>:
      <span ng-repeat='per in relatedItem.persons' data-id='{{per.id}}' gasp-type='person' gasp-parent='{{relatedItem.type}}-{{relatedItem.id}}' tooltip='{{per.props.name}} - {{per.props.description}} ({{per.props.birth_date | date:"yyyy"}} - {{per.props.death_date | date:"yyyy"}})' tooltip-append-to-body='true' class="tag person {{per.props.score < 0? 'downvoted': '' }}">{{per.props.name||per.name}}</span>
    </span>
  </div>
           
  <img ng-if='relatedItem.props.mimetype=="image"' ng-src="{{relatedItem.props | url : language}}">
  <blockquote ng-if='!relatedItem.annotations || !relatedItem.annotations.length' marked="relatedItem.props|lookup:'caption':language"></blockquote>
  <blockquote ng-if='relatedItem.annotations && relatedItem.annotations.length' context='relatedItem' marked="relatedItem.annotations|annotate:'caption':language"></blockquote>
  
  <!-- div class='matches' ng-if='relatedItem.annotations' context='relatedItem' marked="relatedItem.annotations|annotate:'url':language"></div -->
</div>