<div ng-if="item" class="resource item">
        <!-- div class='counters'>
          <a ng-href='#/r/{{item.id}}/inquiries'><label>{{item.inquiries}}</label> inquiries </a><!-- <br/>
          <a ng-href='#/r/{{item.id}}/inquiries'>comments <label>{{item.comments}}</label></a> -->
          
        <!-- /div -->
        
        
        <div>
          <span>{{item.props.type}}<span> — 
          <span ng-click="openIssueModal('date', item)" class="empty" ng-if="!item.props.start_time" tooltip='click to add a date'>no date found</span>
          <a ng-href="#/r/{{item.id}}/inq/create/date" tooltip='click to propose a different date' ng-if="item.props.start_time">{{item.props|guessInterval}}</a>
          
          <span ng-repeat="location in item.places">
            <a class="tag location" ng-click="toggleMenu($event, item, location, 'place')">{{location.name}}</a><!-- 
            <a ng-if="location.geocode_id" ng-click="toggleInquirer(location)" class="tag location" >{{location.geocode_formatted_address}}</a>
            <a ng-if="location.geonames_id" class="tag location" >{{location.geonames_toponymName}}, {{location.geonames_countryName}}</a>
             --><span ng-if="!$last">-</span>
          </span>
        
          <span  ng-if="item.inquiries">—
          <a ng-href='#/r/{{item.id}}/inq' tooltip="view the related {{item.inquiries}} inquiries"><label>{{item.inquiries}}</label> <i class="fa fa-comment"></i></a>
          </span>
        </div>
        <h3 class="" data-id='{{item.id}}'>
         <!--  <span ng-if="currentAnnotation" ng-href="#/r/{{item.id}}" context="item" marked="currentAnnotation.annotated.title"></span>
          <span ng-if="!currentAnnotation" ng-href="#/r/{{item.id}}" ng-bind-html="item.props | title:language"></span> -->
          
          <span ng-if='item.annotations && item.annotations.length' context='item' marked="item.annotations|annotate:'title':language"></span>
          
        </h3>
        <!-- <div class="collections">
          <div class="collection" ng-repeat="collection in item.collections"><a ng-href="#/c/{{collection.id}}">{{collection.name|humanize}}</a></div>
        </div> -->
        
          
        
        <span ng-if="item.persons.length" class="tags"><i>persons in the document</i>:
          <span ng-repeat="per in item.persons"><span data-id='{{per.id}}' removed-ng-click="startCommenting(item, per, 'person')" tooltip-append-to-body="true" tooltip='{{per.props.name}} - {{per.props.description}} ({{per.props.birth_date | date:"yyyy"}} - {{per.props.death_date | date:"yyyy"}}) {{per.props.score < 0? " - signaled as a mistake":""}}' gasp-type='person' gasp-parent='{{item.type}}-{{item.id}}' class="tag person {{per.props.score < 0? 'downvoted': '' }}">{{per.props.name}}{{$last? '':  ', '}}</span></span>
        </span>
        <span ng-if="item.social_groups.length" class="tags"><i>  —  groups</i>:
          <span ng-repeat="per in item.social_groups"><span data-id='{{per.id}}' removed-ng-click="startCommenting(item, per, 'person')" tooltip-append-to-body="true" tooltip='{{per.props.name}} {{per.props.score < 0? " - signaled as a mistake":""}}' gasp-type='person' gasp-parent='{{item.type}}-{{item.id}}' class="tag person {{per.props.score < 0? 'downvoted': '' }}">{{per.props.name}}{{$last? '':  ', '}}</span></span>
        </span>
        <span ng-if="item.organizations.length" class="tags"><i>  —  organizations</i>:
          <span ng-repeat="per in item.organizations"><span data-id='{{per.id}}' removed-ng-click="startCommenting(item, per, 'person')" tooltip-append-to-body="true" tooltip='{{per.props.name}} {{per.props.score < 0? " - signaled as a mistake":""}}' gasp-type='person' gasp-parent='{{item.type}}-{{item.id}}' class="tag person {{per.props.score < 0? 'downvoted': '' }}">{{per.props.name}}{{$last? '':  ', '}}</span></span>
        </span>
        
        <span ng-if="item.props.languages.length">  —  <i>available in</i>:
          <span class="language {{lang == language? 'active':''}}" ng-repeat="lang in item.props.languages" ng-click='setLanguage(lang)'>{{lang}} </span>
        </span>
        
        <div class="actions">
          <div class="btn-group">
            
            <a class="btn btn-default" tooltip-append-to-body="true" tooltip="create a new inquiry" ng-href="#/r/{{item.id}}/inq/create">
              <i class="fa fa-comment-o"></i>
            </a>
            <button class="btn btn-default" tooltip-append-to-body="true" ng-click='favourite()' tooltip="add to my favourite">
              <i class="fa fa-heart-o"></i>
            </button>
            <button class="btn btn-default" tooltip-append-to-body="true" tooltip="add to bookmark list" ng-click="queue(item.id, true)">
              <i class="fa fa-play-circle-o"></i>
            </button>
          </div>
        </div>
        
        <!-- <a data-id='{{item.id}}'> view on graph</a> or <a ng-click='queue(item.id, true)'> add to playlist</a> -->
        <!-- div annotator>
          <blockquote ng-if="currentAnnotation" class="caption"  context="item" marked="currentAnnotation.annotated.source" ></blockquote>
          <blockquote ng-if="!currentAnnotation" class="caption"  ng-bind-html="item.props | caption : language">
          </blockquote>
        </div -->
        
        <blockquote ng-if='item.annotations && item.annotations.length' context='item' marked="item.annotations|annotate:'caption':language"></blockquote>
        
        <!-- Single button -->
        <div ng-if='item.props.mimetype=="image"'>
          <div ng-if="versions.length > 1" class="btn-group" dropdown is-open="status.isopen" tooltip="view a different version">
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              {{currentVersion.service || "accepted"}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="version in item.versions"><a ng-click="switchVersion(version)">{{version.service || "first version"}}</a>

              <li class="divider"></li>

              <li><a ng-click="switchVersion(mergedVersion)">merged version</a></li>
            </ul>
          </div>
          <div>
            <img  ng-src="media/{{item.props.url}}" annotorious w="item.props.width" h="item.props.height" version="currentVersion">
          </div>
        </div>
        
        <div class='full-text' ng-if='item.annotations && item.annotations.length' context='item' marked="item.annotations|annotate:'url':language"></div>
        
        
        <!-- <div annotator>
        <div class="full-text" ng-if='item.props.mimetype!="image"' lazytext url='item.props|url:language'></div>
        </div -->
        
        <blockquote ng-if="item.props.stakeholders||item.props.caption">
         {{item.props.stakeholders||item.props.caption}}
        </blockquote>
        
        <div class="doi">{{item.props.doi}}</div>
        
        <div class="discussion" ng-if="item.comments.length > 0">
          <div class="comment" ng-repeat="com in item.comments">
            <span class="username">
              <a ng-href='#/u/{{com.user.username}}'>{{com.user.username}}</a>
            </span>
            <span class="date">{{com.props.creation_date | date : 'longDate'}}</span> — {{com.props.content}}
            <span  ng-repeat="tag in com.props.tags" class='tag' data-id='{{tag|idify}}'>{{tag}}</span>
          </div>
            
        </div>
        
      </div>