 <div  class='{{currentCtrl}}'>
    <h3 class='see-also-header'>{{totalItems}} <span translate>resource.seealso.title</span> <span lookup context='item' field='name' language='language'></span> </h3>

    <div class="empty-list" ng-if="totalItems == 0">
      There are no related <i>resources</i>.
    </div>
    <div masonry='{ "transitionDuration" : "0s" , "itemSelector" : ".masonry-brick"}'>
      
        <div masonry-tile='{"imagesLoaded": {"background": ".img"}}' class="masonry-brick" ng-repeat='relatedItem in relatedItems' ng-include='"templates/partials/resource-lite.html"'></div>
      
    </div>
    <div class='more' ng-if='totalItems > 0 && offset + limit < totalItems'>
      <button ng-click='more()' class='btn btn-block '>{{isLoading?'loading...':'load more items'}}</button>
    </div>
  </div>