<div class="topic-modelling-page">
  <div id='perspective-menu' class="tk-proxima-nova header-menu">
    <ul>
      <li class="menu-item" ng-include src="'templates/partials/helpers/grammar.html'"></li>
      <li class="menu-item">
        <div class="aspect-value-selector dropdown" ng-if="aspectFilter">
          <div class="btn-group" uib-dropdown is-open="false">
            <button id="topic-modelling-aspect-value-selector-btn" type="button" class="btn btn-default btn-line" uib-dropdown-toggle>
              {{aspectFilter.label}} {{ aspectFilter.selectedValues.join(', ') }} <span class="caret"></span>
            </button>
            <ul class="uib-dropdown-menu dropdown-menu" role="menu" aria-labelledby="topic-modelling-aspect-value-selector-btn">
              <li class="{{aspectFilter.selectedValues.indexOf(item) >= 0 ? 'active' : ''}}" ng-repeat="item in aspectFilter.values">
                <a ng-click='addOrRemoveAspectFilterValue(item)'>{{item}}</a>
              </li>
            </ul>
          </div>
          <span ng-click="clearAspectFilter()"
                class="clear-button"
                ng-show="aspectFilter.selectedValues.length > 0">
            <i class="fa fa-times-circle"></i>
          </span>
        </div>    
      </li>
    </ul>
  </div>

  <div class="view explore perspective"
      id="see-also"
      ng-if="optionalFeatures.topicModellingTimeline.enabled">

    <div class="busy-indicator" ng-show="busyCounter > 0">
      <div class='loading animated'>
        <div class='loader'>
          <div class="sk-double-bounce">
            <div class="sk-child sk-double-bounce1"></div>
            <div class="sk-child sk-double-bounce2"></div>
          </div>
        </div>
      </div>    
    </div>

    <div hi-topic-modelling-timeline
         hi-topic-modelling-data="topicModellingData"
         hi-extra-frequencies-data="extraFrequenciesData"
         hi-set-bins-count="setBinsCount"
         hi-item-click-handler="itemClickHandler"
         class="topic-modelling-timeline-container">
    </div>

    <div class="selected-resources">
      <div ng-repeat="relatedItem in selectedResources" 
           ng-include='"templates/partials/resource-lite.html"'
           class="masonry-brick">
      </div>
    </div>

  </div>
</div>
