html
  head
    title!= title
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/annotorious.css', rel='stylesheet')
    link(href='/css/codemirror.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    
    script(src='/socket.io/socket.io.js')
    script(src='//use.typekit.net/fwe7tir.js')
    script.
      try{Typekit.load();}catch(e){}



  body(ng-app='histograph')
    script(type='text/javascript').
      var socket = io();

    div(ng-controller='CoreCtrl')
    
      header hg 
        if user.username
          a(href='#/profile')
            img(src=user.picture)
            span!=user.username

          ul
            li
              a(href='#')
                span settings
            li
              a(href='#')
                span logout
      if !user.username
          form
            a(href='/auth/twitter', class='btn btn-default') signup with twitter
      else
        div(ng-view)
        
    script(src='/js/lib/codemirror.js')
    script(src='/js/lib/annotorious.min.js')

    script(src='/js/lib/angular.min.js')
    script(src='/js/lib/angular-route.min.js')
    script(src='/js/lib/angular-resource.min.js')
    script(src='/js/lib/ui-codemirror.min.js')
    
    script(src='/js/app.js')
    script(src='/js/services.js')
    script(src='/js/controllers/core.js')
    script(src='/js/controllers/index.js')
    script(src='/js/controllers/resource.js')
    script(src='/js/directives/annotorious.js')   
    