<!DOCTYPE html>
html
  head
    title histograph
    meta(name='pinterest', content='nopin', description="contents subject to copyright")
    
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/perfect-scrollbar.min.css', rel='stylesheet')
    link(href='/css/annotator.css', rel='stylesheet')
    link(href='/css/annotorious.css', rel='stylesheet')
    link(href='/css/codemirror.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    
    link(href='/css/abovetheline.css', rel='stylesheet')
    link(href='/css/patch.css', rel='stylesheet')

    script(src='/socket.io/socket.io.js')
    script(src='//use.typekit.net/fwe7tir.js')

    script.
      try{Typekit.load();}catch(e){}



  body(ng-app='histograph', class=!user.username? 'login-page':'')
    script(type='text/javascript').
      var socket = io(); 

    div(ng-controller='CoreCtrl') 
      div(ng-controller='FiltersCtrl')
        if user.username
          header(class='{{queueStatus}}') 
            //- a(id='header-logo', href='#/')
            //-   img(src='images/hg_v.png')
             
            
            div(class='row', ng-cloak)
              div(class='col-sm-12')
                div.navbar-header
                  a.serif(href='/#/')
                    span histograph

                ul.menu.nav.navbar-nav.navbar-right
                  li(class='{{currentState.name == "explore.resources"?"active":""}}')
                    a(href='#/') gallery

                  li(class='{{currentState.name == "explore.persons"?"active":""}}')
                    a(ng-href='#/projection/person/person?{{qs}}')  graph

                  li
                    a.with-number(ng-click='toggleQueue()', uib-tooltip='your selection', tooltip-placement='bottom') my selection 
                      //- i.fa.fa-bookmark
                      div.number.animated.lite {{playlist.length}}

                  li(class='{{currentState.name == "explore.noise"?"active":""}}')
                    a(href='#/noise') activities

                  li(ng-controller='PulseController')
                    span(uib-dropdown, on-toggle="toggle(open)")
                      a.with-number(href='#/', uib-dropdown-toggle)
                        i.fa.fa-flash
                        div.number.animated(ng-if='pulsations > 0') {{pulsations}}
                      ul.uib-dropdown-menu.dropdown-menu
                        
                        li
                          a(href="#", ng-if='syncing') loading...
                          a(href="#", ng-if='!syncing') see all {{totalItems}} notifications
                            
                        li(ng-repeat="relatedItem in notifications", ng-include='"templates/partials/action-lite.html"')
                          
                 

                  li(class='{{currentState.name == "search.resources" || currentState.name == "search.persons" ?"active":""}}')
                    div
                      form#search-field(ng-submit='setQuery(query)')
                        input(type='text', name='test', ng-model='__query', typeahead-on-select='setQuery($item, $model, $label)', class='form-control', typeahead-editable='false', placeholder='search', typeahead='item for items in suggest($viewValue)', typeahead-wait-ms='100', typeahead-template-url='templates/partials/helpers/suggest.html')
                  //- input(type='text', ng-model='query', class='form-control', placeholder='Search for...', bs-typeahead, bs-options='item for items in suggest($viewValue)', data-container='body',data-delay='{ show: 500, hide: 1000000 }')
                  //- span(class='input-group-btn')
                  //-  a(class='btn btn-default', type='button', ng-href='/#/search/{{query}}') search
          
                  //- li
                  //-   div(dropdown, dropdown-append-to-body='true', is-open='status.isopen')
                  //-     span(dropdown-toggle, ng-disabled='disabled') {{ language }}
                  //-       i(class='fa fa-down')
            
                  //-     ul(class='dropdown-menu', role='menu', )
                  //-       li(ng-repeat='lang in availableLanguages', ng-click='setLanguage(lang)') {{lang}}
                  
                  li  
                    a(href='#/u/'+user.id)
                      img(src=user.picture)
                      span {{user.username}} 
                  li
                    a(href='/logout') logout
                  
                  
                  
                
            //- div(id='history')
            //-   div(history='', trails='trails')
            
        if !user.username
            div#flickr
              div(flickr='')
              div.halftone-overlay
              
            div(id='login')
              //- div(id='logo')
              //-   img(src='images/hg_v.png')
              h5 histograph
              form
                p.tk-proxima-nova Welcome to histograph collaborative platform. Signup or login to start

                div(class="", role="group")
                  a(ng-href='/auth/twitter?next={{locationPath}}&jsonparams={{locationJson}}', class='btn btn-block btn-default btn-line expanded') with your twitter account
                    i(class='fa fa-twitter')
                  a(ng-href='/auth/google?next={{locationPath}}&jsonparams={{locationJson}}', class='btn btn-block  btn-default btn-line expanded') via google plus account
                    i(class='fa fa-google-plus')


            
        else
          div(class='view {{currentCtrl}} {{currentState.name|humanizeState}} {{queueStatus}} viewpoint-{{viewpoint.selected.name}}', infinite-scroll='addMoreItems()', infinite-scroll-collection='relatedItems')
            div(ui-view='')
          
          div#milkyway(sigma, graph='graph', freeze='freeze', tips='headers.graph', togglemenu='toggleMenu(e, item, tag)', class='{{currentState.name|humanizeState}} {{queueStatus}} viewpoint-{{viewpoint.selected.name}}', controller='currentCtrl', setmessage='setMessage(message)', redirect='redirect(path)', queue="addToQueue(items)", filter='addFilter(key, value)')
          
          div(id='timeline', timeline, class='{{currentState.name}} {{queueStatus}}', t='timeline', cxt='contextualTimeline', filters="filters")
            
          div(id='pop', gasp, target="target", redirect='redirect(path)', filter='addFilter(key, item)', comment="startCommenting(item, tag, hashtag)", queue="queue(item, inprog)", inspect='inspect(item)')
          
          div(id='crowd',ng-controller='CrowdCtrl', ng-include='"templates/partials/crowd.html"', class='tk-proxima-nova {{isVisible? "animated fadeIn":"animated fadeOut"}}')
            div campaign
          //- div(id='popit', popit, target="target", redirect='redirect(path)', comment="startCommenting(item, tag, hashtag)", queue="queue(item, inprog)")
            div(class='action-group')
              a(class=' action', title='visit', data-action='link', tooltip='visit entity page')
                span(class='fa fa-link')
              a(class=' action', title='vote up')
                span(class='fa fa-thumbs-o-down')
              a(class=' action queue', tooltip="add to your bookmarks", data-action='queue')
                span(class='fa fa-bookmark-o')
              a(class=' action', title='comment', data-action='comment')
                span(class='fa fa-comment-o')
                  
          div(id='the-annotator-wrapper')
            div(id='the-annotator')
            
          //- div(id='playlist-resume', ng-class='queueStatus' tooltip-append-to-body='true', tooltip='toggle read queue' ng-click='toggleQueue()')
            span(class="fa fa-angle-up")
          
          div.mouse.tooltip.sigma(id='tooltip-sigma')
            div.tooltip-wrapper
              div.tooltip-inner
          
          div.mouse.tooltip.sigma(id='tooltip-sigma-edge')
            div.tooltip-wrapper
              div.tooltip-inner

          div(id='playlist', ng-class='queueStatus')
            div#playlist-close(ng-click='closeQueue()')
              i.fa.fa-times-circle
            div(ng-if='playlist.length == 0') ... select some element to start playlist ...
            div#playlist-queue(perfect-scrollbar, use-both-wheel-axes='false', suppress-scroll-x="true", wheel-propagation="true", refresh-on-change="playlist",)
              div(id='playlist-queue-rail')
                div(class='playlist-item', ng-repeat='item in playlist')
                  div(class='playlist-item-wrapper')
                    div(class='pic', ng-if='item.type == "person"')
                      a(ng-href='/#/e/{{item.id}}', tooltip-append-to-body='true', tooltip='visit person page')
                        img(ng-src='{{item.props.thumbnail}}', ng-if='item.props.thumbnail')
                    div(class='pic', ng-if='item.type == "location" || item.type == "place"')
                      a(ng-href='/#/e/{{item.id}}', tooltip-append-to-body='true', tooltip='visit location page')
                        
                    div(class='pic', ng-if='item.type == "resource"')
                      a(ng-href='/#/r/{{item.id}}', tooltip-append-to-body='true', tooltip='visit resource page')
                        img(ng-if='item.props.mimetype == "image" && item.props.url', ng-src='media/{{item.props.url}}')
                    h5(data-id='{{item.id}}', tooltip-append-to-body='true', tooltip='{{item.props | title : language }}') {{item.props | title : language : 24 }}
                    a(class='action', ng-click='removeFromQueue(item)', tooltip-append-to-body='true', tooltip='remove from this set')
                      i(class='fa fa-times-circle')
                  
            div(id='playlist-actions', class='btn-group')
              h5 your selection
              div.contents
                p find interesting resources and entities in your selection
                a(ng-href='/#/neighbors/{{playlist | map:"id"}}', tooltip-append-to-body='true', tooltip='explore connections between your readlist', class='btn btn-block btn-default btn-line-white') explore connections 
                  i(class='fa fa-diamond')
              //- a(ng-href='/#/neighbors/{{playlist | map:"id"}}', tooltip-append-to-body='true', tooltip='explore neighborhood of your readlist', class='btn btn-primary')
              //-   i(class='fa fa-rocket')
              //- a(ng-href='/#/neighbors/{{playlist | map:"id"}}', tooltip-append-to-body='true', tooltip='save your readlist', class='btn btn-primary')
              //-   i(class='fa fa-save')
          
          div#playlist-shadow(class='{{queueStatus}} {{currentState.name|humanizeState}} ', ng-click='toggleQueue()')
          div#fullsize(fullsize)

      div(id="messenger", class="tk-proxima-nova {{messaging? 'active': ''}}")
        div.inner {{ message }}
      
      
        
      each val in scripts
        script(src=val)
      script.
        var types = !{JSON.stringify(types)};


        /*
          Build config according to express settings
        */
        angular.module('histograph')
          .constant("SETTINGS", {
            types: types
          })
        .constant('GRAMMAR', {
          AS_TYPES: [
            {
              name: 'of any type',
            }
          ].concat(types.resources.map(function (type) {
            return {
              name: type, // todo: add translations
              filter: 'type=' + type
            }
          })),
          IN_TYPES: [
            {
              name: 'in any kind of documents',
            },
          ].concat(types.resources.map(function (type) {
            return {
              name: 'in ' + type, // todo: add translations / pluralize
              filter: 'type=' + type    
            }
          }))
        });

        console.log('--- HISTOGRAPH ---')

    
    