<div id="perspective" perfect-scrollbar wheel-propagation="true" refresh-on-change="item.props" suppress-scroll-x="true" wheel-speed="20">
  
      <div ng-if="item" class="entity item">
        <div  ng-if="item.props.thumbnail" class="profile-pic">
          <div class="profile-pic-wrapper">
            
            <img ng-src="{{item.props.thumbnail}}">
          </div>
        </div>
        <h3><a>{{item.props | title : language}}</a></h3>
        
        
        
        <div class="description">{{item.props.description}} {{item.props.birth_time | datesOfAPerson : item.props.death_time}}</div>
        
        <div class="actions">
          <div class="btn-group">
            <button class='btn btn-default' tooltip-append-to-body="true" tooltip="this is a mistake"><i class="fa fa-bug"></i></button>
            <button class="btn btn-default" tooltip-append-to-body="true" tooltip="discute this entity" comment="comment(item)"><i class="fa fa-comment-o"></i></button>
           <button class="btn btn-default" tooltip-append-to-body="true" tooltip="add to playlist" ng-click="queue(item.id, true)">
              <i class="fa fa-play-circle-o"></i>
            </button>
          </div>
        </div>
        
        <div class="tags" ng-if="relatedPersons.length > 0">Appearing with:  
        <span class="tag" ng-click="toggleMenu($event, item, person, 'person')" ng-repeat="person in relatedPersons">{{person.props.name}} ({{person.coappear}})</span>
        </div>
        
        <blockquote class="abstract">
          <p><b>source: wikipedia</b> — {{item.props | abstract : language }}</p>
        </blockquote>
        <!-- 
        <blockquote ng-if="item.abstract">
         {{item.name}} - {{item.description}}
        </blockquote> -->
      </div>
</div>

