<div id="intro">
  <h1>
    paths of history
  </h1>
  
  
  <div class='row'>
    
    <div class='col-xs-12'>
      <h2>Create your own exploratory path in our collection</h2>
      
      <div class='grammar'>
        {{grammar.explore.name}}
        <div class='grammar-choice'>
          {{grammar.explore.subject.name}} 
          <div class="btn-group" uib-dropdown is-open="false">
            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="uib-dropdown-menu dropdown-menu" role="menu" aria-labelledby="single-button">
              <li ng-repeat="item in grammar.explore.subjects">
                <a ng-click='setSubject(grammar.explore, item)'>
                  {{item.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <span ng-if='filters.type'>
            &nbsp;{{grammar.explore.subject.connector.type}}&nbsp;
        </span>
        <div class='grammar-choice'>
          <span ng-if='filters.type'>
            <span ng-repeat='filter in filters.type'>
              <span class="filter "><b>{{filter}}</b><span ng-click='removeFilter("type",filter)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>{{!$last? ', ': ''}}
            </span>
          </span>
          <span ng-if='!filters.type'>
            {{grammar.explore.subject.types[0].name}}
          </span>
          <div class="btn-group" uib-dropdown is-open="false">
            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
              <span class="caret"></span>
            </button>
            <ul class="uib-dropdown-menu dropdown-menu" role="menu" aria-labelledby="single-button">
              <li ng-repeat="item in grammar.explore.subject.types">
                <a ng-click='setType(grammar.explore.subject, item)'>
                  {{item.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <span ng-if='filters.with'>
            &nbsp;{{grammar.explore.subject.connector.relatedTo}}&nbsp;
          <span ng-repeat='item in filterItems.with'>
            <span class="filter {{item.type}}"><b>{{item.props.name}}</b><span tooltip-append-to-body="true" tooltip='remove {{item.props.name}} from filters' ng-click='removeFilter("with",item.id)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>{{!$last? ', ': ''}}
          </span>
        </span>
        
        <span ng-if="filters.from">
          &nbsp;{{grammar.explore.subject.connector.from}}&nbsp;
        
          <span ng-repeat='filter in filters.from'>
            <span class="filter "><b>{{filter}}</b><span ng-click='removeFilter("from",filter)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>
          </span>
        </span>
        
        <span ng-if="filters.to">
          &nbsp;{{grammar.explore.subject.connector.to}}&nbsp;
          <span ng-repeat='filter in filters.to'>
            <span class="filter"><b>{{filter}}</b><span ng-click='removeFilter("to",filter)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>
          </span>
        </span>
        
      </div>
    </div>
  </div>
  
  
</div>