<div id="perspective" class="{{queueStatus}}" ng-include src="'templates/partials/resource.html'"></div>
<div id='see-also' class='{{currentCtrl}}' ng-cloak>
  <div ng-include src="'templates/partials/inquiry-toolbar.html'"></div>
  <div class="related inquiry">
    <div class="type">inquiry</div>
    <h3 ng-bind-html="inquiry.props.name | marked"></h3>
    <p class="subtitle">an inquiry on "{{item.props | title : language}}"</p>
    <!-- <div ng-if="inquiry.proposed_by.picture" class="profile-pic">
      <div class="profile-pic-wrapper">
        
        <img ng-src="{{inquiry.proposed_by.picture}}">
      </div>
    </div> -->
    <div class="author"> by <a ng-href="/#/u/{{inquiry.proposed_by.username}}">{{inquiry.proposed_by.username}}</a> — {{inquiry.props.creation_date | date : 'longDate'}}, <b>{{inquiry.answers}} </b> answers
    </div>
    
    <div class="content" ng-bind-html="inquiry.props.description | marked"></div>
    
    <div ng-repeat='relatedItem in relatedItems' ng-include='"templates/partials/comment-lite.html"' class='comment'></div>
    
    <form>
      <h4>propose your answer</h4>
      <div ng-model='comment.content' mirror="getHints(query, type)" ui-codemirror='{lineNumbers: false, lineWrapping : true, mode: "hg"}'></div>
      <div style='text-align:center; margin-top: 10px'>
        <div class='btn-group' role='group' aria-label='...'>
          <button class='btn btn-primary' ng-click='createComment()'>
           propose
          </button>
        </div>  
      </div>  
    </form>
    
  </div>
</div>