<div id="perspective" class="{{queueStatus}} reduced">
  <div class="toolbar tk-proxima-nova">
    <h2>starting from {{playlist.length}} elements</h2> 
    <!-- <div class="wrapper">
      <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" max-size="4" previous-text="&lsaquo;" rotate="true" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
    </div>  -->
  </div>
  
  <div class="related" ng-repeat="relatedItem in playlist" ng-if="relatedItem.type == 'resource'" data-id='{{relatedItem.id}}'>
       
    <h4>
      <a ng-href="#/r/{{relatedItem.id}}" ng-bind-html="relatedItem.props | title : language"></a>
    </h4>
    
    <div class='actions'>
      <button class='btn btn-default action' tooltip='remove from readlist' tooltip-append-to-body="true" ng-click='removeFromQueue(relatedItem)'>
        <i class='fa fa-times-circle'></i>
      </button>
    </div>
    <div class="date">
      {{relatedItem.props|guessInterval}}
    </div>
    <img ng-if='relatedItem.props.mimetype=="image"', ng-src="{{relatedItem.props | url : language}}">
    
    <blockquote>
      {{relatedItem.props | abstract : language}}
    </blockquote>
              
    <a data-id='{{relatedItem.id}}'>view on graph</a>
  </div>
  
  <div class="related entity" ng-repeat="relatedItem in playlist" ng-if="relatedItem.type != 'resource'">
    {{relatedItem.type}}    
    <div  ng-if="relatedItem.props.thumbnail" class="profile-pic">
      <div class="profile-pic-wrapper">
        
        <img ng-src="{{relatedItem.props.thumbnail}}">
      </div>
    </div>
    <h4>
      <a ng-href="#/e/{{relatedItem.id}}" ng-bind-html="relatedItem.props | title : language"></a>
    </h4>
    
    <div class='actions'>
      <button class='btn btn-default action' tooltip='remove from readlist' tooltip-append-to-body="true" ng-click='removeFromQueue(relatedItem)'>
        <i class='fa fa-times-circle'></i>
      </button>
    </div>
    
    
    <img ng-if='relatedItem.props.mimetype=="image"', ng-src="{{relatedItem.props | url : language}}">
    
    <blockquote>
      {{relatedItem.props | abstract : language : 100}}
    </blockquote>
              
    <a data-id='{{relatedItem.id}}'>view on graph</a>
  </div>
</div>
<div id='see-also' class='{{currentCtrl}}' ng-cloak>
  <!-- <div ng-include src="'templates/partials/resource-toolbar.html'"></div> -->
  <div class="toolbar tk-proxima-nova">
    <h2><b>{{relatedEntities.length}}</b> entities and <b>{{relatedItems.length}}</b> documents</h2>
  </div>
  <div class="tags" ng-if="relatedEntities.length > 0">Entities:  
    <span ng-repeat="entity in relatedEntities"><span class="entity tag" data-id='{{entity.id}}' tooltip='{{entity.label}}' gasp-type='{{entity.type}}' gasp-parent='{{item.type}}-{{item.id}}' >
      {{entity.label}}</span>{{$last?'':', '}}</span>
  </div>
        
  <div class="empty-list" ng-if="relatedItems.length == 0">
    Your path did not match any <i>documents</i>.
  </div>
  <div ng-repeat='relatedItem in relatedItems' ng-include='"templates/partials/resource-lite.html"'></div>
</div>