<div id='perspective-menu' class="tk-proxima-nova header-menu">
  <ul>
    <li class='path'>
      Find possible connections between bookmarked elements

    </li>
    <li>
      <div class='grammar'>
        <span ng-if='filters.type'>
            &nbsp;{{grammar.connector.type}}&nbsp;
        </span>
        <div class='grammar-choice' ng-if='grammar.types'>
          <span ng-if='filters.type'>
            <span ng-repeat='filter in filters.type'>
              <span class="filter "><b>{{filter}}</b><span ng-click='removeFilter("type",filter)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>{{!$last? ' OR ': ''}}
            </span>
          </span>
          <span ng-if='!filters.type'>
            {{grammar.types[0].name}}
          </span>
          <div class="btn-group" uib-dropdown is-open="false">
            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle>
              <i class='fa fa-angle-down'></i>
            </button>
            <ul class="uib-dropdown-menu dropdown-menu" role="menu" aria-labelledby="single-button">
              <li ng-repeat="item in grammar.types">
                <a ng-click='setType(grammar, item)'>
                  {{item.name}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        
        <!-- typeahead -->
        <span ng-if='filters.with'>
          &nbsp;{{grammar.connector.relatedTo}}&nbsp;
        </span>
        
        <!-- filters -->
        <span ng-repeat='item in filterItems.with'>
          <div class="grammar-choice">
            <span class="filter {{item.type}}"><b data-id='{{item.id}}' gasp-type='{{item.type}}'>{{item.props|lookup:'name':language:24}}</b><span tooltip-append-to-body="true" tooltip='remove {{item.type}} {{item.props|lookup:"name":language:24}} from filters' ng-click='removeFilter("with",item.id)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>
          </div>
          {{!$last? ' OR ': ''}}
        </span>

        <span ng-if="filters.from">
          &nbsp;{{grammar.connector.from}}&nbsp;
        
          <span ng-repeat='filter in filters.from'>
            <span class="filter "><b>{{filter}}</b><span ng-click='removeFilter("from",filter)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>
          </span>
        </span>
        
        <span ng-if="filters.to">
          &nbsp;{{grammar.connector.to}}&nbsp;
          <span ng-repeat='filter in filters.to'>
            <span class="filter"><b>{{filter}}</b><span ng-click='removeFilter("to",filter)'>&nbsp;<i class="fa fa-times-circle"></i></span></span>
          </span>
        </span>
      </div>
    </li>
  </ul>
</div>


<!-- <div id="perspective" class="{{queueStatus}} reduced">
  
  <div class="related" ng-repeat="relatedItem in playlist" ng-if="relatedItem.type == 'resource'" data-id='{{relatedItem.id}}'>
       
    <h4>
      <a ng-href="#/r/{{relatedItem.id}}" ng-bind-html="relatedItem.props | title : language"></a>
    </h4>
    
    <div class='actions'>
      <button class='btn btn-default action' tooltip='remove from readlist' tooltip-append-to-body="true" ng-click='removeFromQueue(relatedItem)'>
        <i class='fa fa-times-circle'></i>
      </button>
    </div>
    <div class="date">
      {{relatedItem.props|guessInterval}}
    </div>
    <img ng-if='relatedItem.props.mimetype=="image"', ng-src="{{relatedItem.props | url : language}}">
    
    <blockquote>
      {{relatedItem.props | abstract : language}}
    </blockquote>
              
    <a data-id='{{relatedItem.id}}'>view on graph</a>
  </div>
  
  <div class="related entity" ng-repeat="relatedItem in playlist" ng-if="relatedItem.type != 'resource'">
    <i class="fa type fa-circle {{relatedItem.type}}"></i>{{relatedItem.type}}    
    <div  ng-if="relatedItem.props.thumbnail" class="profile-pic">
      <div class="profile-pic-wrapper">
        
        <img ng-src="{{relatedItem.props.thumbnail}}">
      </div>
    </div>
    <h4>
      <a ng-href="#/e/{{relatedItem.id}}" ng-bind-html="relatedItem.props | title : language"></a>
    </h4>
    
    <div class='actions'>
      <button class='btn btn-default action' tooltip='remove from readlist' tooltip-append-to-body="true" ng-click='removeFromQueue(relatedItem)'>
        <i class='fa fa-times-circle'></i>
      </button>
    </div>
    
    
    <img ng-if='relatedItem.props.mimetype=="image"', ng-src="{{relatedItem.props | url : language}}">
    
    <blockquote>
      {{relatedItem.props | abstract : language : 100}}
    </blockquote>
              
    <a data-id='{{relatedItem.id}}'>view on graph</a>
  </div>
</div> -->



<div ui-view id='see-also' ng-cloak>
  
</div>