
<div class="resource item">
  <h3><a ng-href="#/r/{{item.id}}">{{item.props.title || item.props.name }}</a></h3>
  {{item.props.start_date}}
  {{item.props.end_date}}
  
  <div>
    <span ng-repeat="location in item.locations">{{location.formatted_address}}</span>
    <!-- collect comments about places -->
  </div>
  
  <div class="tags">
    <span ng-repeat="per in item.persons" class='tag person'>{{per.name}}</span>
    
  </div>

  <div ng-if="item.props.caption">{{item.props.caption}}</div>
  <div ng-if="item.props.source">{{item.props.source}}</div>
  <!-- Single button -->


    <div class="btn-group" dropdown is-open="status.isopen" tooltip="view a different version">
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
        {{currentVersion.service || "accepted"}}<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-repeat="version in item.versions"><a ng-click="switchVersion(version)">{{version.service || "first version"}}</a>

        <li class="divider"></li>

        <li><a ng-click="switchVersion(mergedVersion)">merged version</a></li>
      </ul>
    </div>

  <img ng-src="media/{{item.props.url}}" annotorious w="item.props.width" h="item.props.height" version="currentVersion">
  <blockquote>
   {{item.props.stakeholders}}
  </blockquote>
  
  <div class="discussion">
    <div class="comment" ng-repeat="com in item.comments">
      <span cmlass="username">{{com.user.username}}</span> <span class="date">{{com.comment.creation_date}}</span> — {{com.comment.content}}</div>
    <a class="btn btn-default btn-block" ng-click="startMention(item)">join discussion</a>
    
  </div>
  <div id="inquirer" class="{{commenting? 'commenting': ''}}">
    
    <div>
      <img class="user-picture" ng-src='{{user.picture}}'>
      {{user.username}} {{comment.tag}}
    </div>
    <div ng-model='comment.text' ui-codemirror="{
        lineNumbers: false,
        theme:'twilight',
        lineWrapping : true,
        mode: 'Smalltalk'
      }"></div>
      <button class="btn btn-default" ng-click="postMention(item)">comment</button>
  </div> 


</div>

<!-- div id="milkyway">graph </div -->

