<div id="perspective" perfect-scrollbar wheel-propagation="true" refresh-on-change="item.props" suppress-scroll-x="true" wheel-speed="20">
  
      <div ng-if="item" class="resource item">
         
        <h3 class="" data-id='{{item.id}}'><a ng-href="#/r/{{item.id}}">{{item.props.title || item.props.name || item.props.title_en || item.props.title_fr}}</a></h3>
        <div class="collections">
          <div class="collection" ng-repeat="collection in item.collections"><a ng-href="#/c/{{collection.id}}">{{collection.name|humanize}}</a></div>
        </div>
        <span ng-click="startCommenting(item, 'date')">{{item.props|guessInterval}}</span>
        
        <span ng-repeat="location in item.places">
          <a class="tag location" ng-click="startCommenting(item, location, 'place')">{{location.name}}</a><!-- 
          <a ng-if="location.geocode_id" ng-click="toggleInquirer(location)" class="tag location" >{{location.geocode_formatted_address}}</a>
          <a ng-if="location.geonames_id" class="tag location" >{{location.geonames_toponymName}}, {{location.geonames_countryName}}</a>
           --><span ng-if="!$last">-</span>
        </span>
          
        
        <span ng-if="item.persons.length" class="tags"> — <i>in the document</i>:
          <span popover="{{per}}" ng-repeat="per in item.persons" data-id='{{per.id}}' ng-click="startCommenting(item, per, 'person')" class='tag person'>{{per.name}}</span>
        </span>
        <a data-id='{{item.id}}'> view on graph</a>
        
        <div ng-if="currentAnnotation">
          <div class="caption" annotator context="item" marked="currentAnnotation.annotated.source" ></div>
        </div>

        <!-- Single button -->
        <div ng-if='item.props.mimetype=="image"'>
          <div class="btn-group" dropdown is-open="status.isopen" tooltip="view a different version">
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              {{currentVersion.service || "accepted"}}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="version in item.versions"><a ng-click="switchVersion(version)">{{version.service || "first version"}}</a>

              <li class="divider"></li>

              <li><a ng-click="switchVersion(mergedVersion)">merged version</a></li>
            </ul>
          </div>
          <div>
            <img  ng-src="media/{{item.props.url}}" annotorious w="item.props.width" h="item.props.height" version="currentVersion">
          </div>
        </div>
        <blockquote ng-if="item.props.stakeholders||item.props.caption">
         {{item.props.stakeholders||item.props.caption}}
        </blockquote>
    
        <div class="discussion" ng-if="item.comments.length > 0">
          <div class="comment" ng-repeat="com in item.comments">
            <span class="username">
              <a ng-href='#/u/{{com.user.username}}'>{{com.user.username}}</a>
            </span>
            <span class="date">{{com.props.creation_date | date : 'longDate'}}</span> — {{com.props.content}}
            <span  ng-repeat="tag in com.props.tags" class='tag' data-id='{{tag|idify}}'>{{tag}}</span>
          </div>
            
        </div>
        
      </div>
</div>

<div id="inquirer" class="{{commenting? 'commenting': ''}}">
  <div>
    <img class="user-picture" ng-src='{{user.picture}}'>
    {{user.username}} {{comment.tags}}
  </div>
  <div ng-model='comment.text' ui-codemirror="{
      lineNumbers: false,
      theme:'twilight',
      lineWrapping : true,
      mode: 'Smalltalk'
    }">
  </div>
  <div style="text-align:center">
    <div class="btn-group"  role="group" aria-label="...">
      <button class="btn btn-primary" ng-click="postMention(item)">comment</button>
      <button ng-if="comment.tags.length" class="btn btn-default">this is not what it is</button>
      <button class="btn btn-default" ng-click="stopCommenting()">close</button>
    </div>
    
  </div>
</div>
        
<div id="perspective-actions">
  <div class="btn-group"  role="group" aria-label="...">
    <a class="btn btn-primary" ng-click="startMention(item)">join discussion</a>
    <a class="btn btn-default" ng-click="startInquiry(item)">start inquiry</a>
  </div>
</div>

<div id="see-also" perfect-scrollbar wheel-propagation="true" refresh-on-change="related" suppress-scroll-x="true" wheel-speed="20">
  <div class="related" ng-repeat="relatedItem in related">
    <h4><a ng-href="#/r/{{relatedItem.id}}">{{relatedItem.props.title || relatedItem.props.name || relatedItem.props.title_en}}</a></h4>
    <a data-id='{{relatedItem.id}}'>view on graph</a>
    {{relatedItem.props|guessInterval}} ({{item.props|guessDifference:relatedItem.props}})
    
    <!--div class="tags locations">
      <span ng-repeat="location in relatedItem.locations">

        <a ng-if="location.geocode_id" class="tag location" >{{location.geocode_formatted_address}}</a>

        <a ng-if="location.geonames_id" class="tag location" >{{location.geonames_toponymName}}, {{location.geonames_countryName}}</a> <span ng-if="!$last">-</span> 
      
    </div-->
    
    <span class="tags" ng-if="relatedItem.persons"> — <i>in the document</i>:
      <span ng-repeat="per in relatedItem.persons"  data-id='{{per.id}}'  class='tag person'>{{per.name}}</span>
    </span>

    <img ng-if='relatedItem.props.mimetype=="image"' ng-src="media/{{relatedItem.props.url}}" >
    <blockquote>
     {{relatedItem.props.stakeholders || relatedItem.props.caption}}
    </blockquote>
  </div>
</div>
</div>


