<div id='perspective-menu' class="tk-proxima-nova header-menu">
  <ul>
    <li>
      <a ui-sref="index">explore</a> / <a>resource#{{item.id}}</a>
    </li>
  </ul>
</div>

<div id="perspective" class="{{queueStatus}}" ng-include src="'templates/partials/resource.html'"></div>

<div id='see-also-menu' class="tk-proxima-nova header-menu {{state}}">
  <ul>
    <li>
      <a ui-sref-active-eq="active" ui-sref="resource({ id: item.id })">
        see also
      </a>
    </li>
    <li>
      <a ui-sref-active-eq="active" tooltip='list this resource related users' ui-sref="resource.users({ id: item.id })">
        users
      </a>
    </li>
   <!--  <li>
      <a ui-sref-active-eq="active" ui-sref="resource.inquiries({ id: item.id })">
        collections
      </a>
    </li> -->
    <li>
      <a ui-sref-active-eq="active" tooltip='list this resource related inquiries' ui-sref="resource.inquiries({ id: item.id })">
        inquiries
      </a>
    </li>
    
  </ul>
</div>

<div ui-view id='see-also'>
  <div  class='{{currentCtrl}}' ng-cloak>
    <div ng-include src="'templates/partials/resource-toolbar.html'"></div>
    
    <div class="empty-list" ng-if="relatedItems.length == 0">
      There are no related <i>documents</i>.
    </div>
    <div class="{{loading? 'animated fadeOut': 'animated fadeIn'}}" style="-webkit-animation-delay: {{$index * 100}}ms;
      animation-delay: {{$index * 100}}ms"  ng-repeat='relatedItem in relatedItems' ng-include='"templates/partials/resource-lite.html"'></div>
  </div>
  
</div>
  