<div id='perspective-menu' class="tk-proxima-nova header-menu"ng-include src="'templates/partials/helpers/menu.html'"></div>



<div ui-view id='see-also'></div>

<!-- <div id="perspective" class="{{queueStatus}} reduced">
  
  <div class="related" ng-repeat="relatedItem in perspectiveItems" data-id='{{relatedItem.id}}'>
    <span class="type">{{relatedItem.type}}</span>
    {{relatedItem.props.creation_date|date}}
    <blockquote>{{relatedItem.props.content}}
    </blockquote>
  </div>
</div> -->