<div id='perspective-menu' class="tk-proxima-nova header-menu">
  <ul>
    <li>
      <a ui-sref="index">explore</a> / <b>your activity</b></a>
    </li>
  </ul>
</div>

<div id="perspective" class="{{queueStatus}} reduced">
  
  <div class="related" ng-repeat="relatedItem in perspectiveItems" data-id='{{relatedItem.id}}'>
    <span class="type">{{relatedItem.type}}</span>
    {{relatedItem.props.creation_date|date}}
    <blockquote>{{relatedItem.props.content}}
    </blockquote>
  </div>
</div>